<template>
    <div v-if="this.$auth.ready()">
        <nav-bar v-if="this.$auth.check()"/>

        <side-bar v-if="this.$auth.check()"/>

        <content-app  v-if="this.$auth.check()"/>

        <footer-app  v-if="this.$auth.check()"/>

        <login v-if="!this.$auth.check()"/>
    </div>
</template>

<script>
import Sidebar from './views/layouts/Sidebar';
import Navbar from './views/layouts/Navbar';
import Content from './views/layouts/Content';
import Footer from './views/layouts/Footer';
import Login from './views/Login';

export default {
  name: 'App',
  components: {
    'side-bar': Sidebar,
    'nav-bar': Navbar,
    'content-app': Content,
    'footer-app': Footer,
    login: Login,
  },
};
</script>

<style scoped>

</style>
