<template>
  <div
    class="modal fade"
    id="addProjectAttributeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addProjectAttributeModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="addProjectCategoryModalLabel">Add New Project Attribute</h3>
          <button
            type="button"
            @click="resetValidate"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">
                Project Name
                <code>*</code>:
              </label>
              <div class="col-sm-8 " >
                <select class="form-control" disabled>
                  <option   selected :value="project.id">{{project.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="category-key" class="col-sm-4 col-form-label">
                Attribute Key
                <code>*</code>:
              </label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  id="attribute-key"
                  v-model="$v.projectAttribute.attribute_key.$model"
                />
                <div v-if="$v.projectAttribute.attribute_key.$error">
                  <code
                    class="error"
                    v-if="!$v.projectAttribute.attribute_key.required"
                  >Field is required</code>
                  <code
                    class="error"
                    v-if="!$v.projectAttribute.attribute_key.alpha"
                  >The input field is alpha</code>
                </div>
                <code v-html="error.attribute_key"></code>
              </div>
            </div>

            <div class="form-group row">
              <label for="password" class="col-sm-4 col-form-label">
                Attribute Name
                <code>*</code>:
              </label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  v-model="$v.projectAttribute.attribute_name.$model"
                />
                <div v-if="$v.projectAttribute.attribute_name.$error">
                  <code
                    class="error"
                    v-if="!$v.projectAttribute.attribute_name.required"
                  >Field is required</code>
                </div>
                <code v-html="error.attribute_name"></code>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            @click="resetValidate"
            id="btn-close-attribute"
            data-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-info btn-sm" @click="addProjectAttribute">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, helpers } from 'vuelidate/lib/validators';
import { showNotification } from '../../utilities/common';

const alpha = helpers.regex('alpha', /^[a-zA-Z0-9_.-]*$/);
export default {
  name: 'add-project-attribute',
  props: ['projectAttributes', 'project'],
  data() {
    return {
      projectAttribute: {
        attribute_key: '',
        attribute_name: '',
      },
      error: {
        attribute_key: null,
        attribute_name: null,
      },
      submitStatus: null,
    };
  },
  validations: {
    projectAttribute: {
      attribute_key: {
        required,
        alpha,
      },
      attribute_name: {
        required,
      },
    },
  },
  watch: {
    'projectAttribute.attribute_key': {
      handler() {
        this.projectAttribute.attribute_key = this.projectAttribute.attribute_key.toUpperCase();
      },
      deep: true,
    },
  },
  methods: {
    addProjectAttribute() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        this.projectAttribute.project_id = this.project.id;
        this.submitStatus = 'OK';
        this.$v.$reset();
        this.$http
          .post('/api/project-attribute', this.projectAttribute)
          .then((res) => {
            this.$emit('loadListProjectAttributes');
            document.getElementById('btn-close-attribute').click();
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;
            if (status === 422) {
              const messageError = {};
              Object.keys(data.error).forEach((key) => {
                messageError[key] = data.error[key].join('. ');
              });
              this.error = messageError;
            }
            showNotification(data.message, 'bg-danger');
          });
      }
    },
    resetValidate() {
      const value = {};
      Object.keys(this.projectAttribute).forEach((index) => {
        value[index] = '';
      });
      this.projectAttribute = value;
      this.error = {};
      this.$v.$reset();
    },
  },
};
</script>
