<template>
  <div
    class="modal fade"
    id="editProAttrModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Edit Project Attribute</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  @click="resetValidate">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label">
                Project Name
                <code>*</code>:
              </label>
              <input
                type="text"
                class="form-control"
                disabled
                v-model="proAttrIdEdit.project.name"
              />
            </div>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label">
                Attribute Key
                <code>*</code>:
              </label>
              <input type="text" class="form-control" v-model="$v.proAttrIdEdit.attribute_key.$model" />
                <div v-if="$v.proAttrIdEdit.attribute_key.$error">
                  <code
                    class="error"
                    v-if="!$v.proAttrIdEdit.attribute_key.required" v-html="messageValidate.required"
                  ></code>
                  <code
                    class="error"
                    v-if="!$v.proAttrIdEdit.attribute_key.alpha" v-html="messageValidate.alpha"
                  ></code>
                </div>
                <code v-html="error.attribute_key"></code>
            </div>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label">
                Attribute Name
                <code>*</code>:
              </label>

              <input type="text" class="form-control" v-model="$v.proAttrIdEdit.attribute_name.$model" />
              <div v-if="$v.proAttrIdEdit.attribute_name.$error">
                  <code
                    class="error"
                    v-if="!$v.proAttrIdEdit.attribute_name.required" v-html="messageValidate.required"
                  ></code>
                </div>
                <code v-html="error.attribute_name"></code>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            id="btn-close"
            data-dismiss="modal"
            @click="resetValidate"
          >Close</button>
          <button
            type="button"
            @click="updateProAttr"
            class="btn btn-info btn-sm"
          >Edit</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, helpers } from 'vuelidate/lib/validators';
import {
  showNotification,
} from '../../utilities/common';
import {
  regexAlpha, messageValidate,
} from '../../utilities/validate';

const alpha = helpers.regex('alpha', regexAlpha);
export default {
  name: 'edit-project-attribute',
  props: ['projectAttribute', 'index'],
  data() {
    return {
      error: {
        project_id: '',
        attribute_key: '',
        attribute_name: '',
      },
      submitStatus: null,
      messageValidate,
      proAttrIdEdit: {
        attribute_key: this.projectAttribute.attribute_key,
        attribute_name: this.projectAttribute.attribute_name,
        project: this.projectAttribute.project,
      },
    };
  },
  validations: {
    proAttrIdEdit: {
      attribute_key: {
        required,
        alpha,
      },
      attribute_name: {
        required,
      },
    },
  },
  watch: {
    'proAttrIdEdit.attribute_key': {
      handler() {
        this.proAttrIdEdit.attribute_key = this.proAttrIdEdit.attribute_key.toUpperCase();
      },
      deep: true,
    },
    projectAttribute: {
      handler() {
        this.proAttrIdEdit = {
          attribute_key: this.projectAttribute.attribute_key,
          attribute_name: this.projectAttribute.attribute_name,
          project: this.projectAttribute.project,
        };
      },
      deep: true,
    },
  },
  methods: {
    updateProAttr() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        const input = this.proAttrIdEdit;
        this.$http
          .put(`/api/project-attribute/${this.projectAttribute.attribute_key}/${this.proAttrIdEdit.project.id}`, input)
          .then((res) => {
            const result = res.data.projectAttribute;
            result.project = this.proAttrIdEdit.project;
            this.$emit('updatedProAttr', result, this.index);
            // eslint-disable-next-line no-undef
            $('#editProAttrModal').modal('hide');
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;
            if (status === 422) {
              const mesageError = {};
              Object.keys(data.error).forEach((key) => {
                mesageError[key] = data.error[key].join('. ');
              });
              this.error = mesageError;
            }
            showNotification(data.message, 'bg-danger');
          });
      }
    },
    resetValidate() {
      const value = {};
      Object.keys(this.proAttrIdEdit).forEach((index) => {
        value[index] = '';
      });
      this.proAttrIdEdit = value;
      this.error = {};
      this.$v.$reset();
    },
  },
};
</script>
