<template>
  <div class="card-body table-responsive p-0"  style="max-height: 330px;">
    <table class="table table-head-fixed">
      <caption hidden>Project Attribute</caption>
      <thead>
        <tr>
          <th scope="col" style="width:10%">No.</th>
          <th scope="col">Attribute Name</th>
          <th scope="col">Attribute Key</th>
          <th scope="col" style="width:15%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(projectAttribute,index) in projectAttributes" :key="index">
          <td>{{index+1}}</td>
          <td>{{projectAttribute.attribute_name}}</td>
          <td>{{projectAttribute.attribute_key}}</td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-toggle="modal"
              data-target="#editProAttrModal"
              @click="handleChooseProAttr(projectAttribute,index)"
            >
              <em class="far fa-edit"></em>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#deleteProAttrModal"
              @click="handleChooseProAttr(projectAttribute,index)"
            >
              <em class="fas fa-trash-alt"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <edit-project-attribute
      v-if="fillProAttr.project_id !== ''"
        v-bind:projectAttribute="fillProAttr"
        :index="indexProAttr"
        @updatedProAttr="updatedProAttr"
      ></edit-project-attribute>
      <div
        class="modal fade"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        id="deleteProAttrModal"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">Are you sure you delete this project Attribute?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-danger" @click="deletedProjectAttribute">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import EditProjectAttribute from './EditProjectAttributeComponent';
import { showNotification } from '../../utilities/common';

export default {
  components: {
    EditProjectAttribute,
  },
  name: 'list-project-attributes',
  props: ['projectAttributes'],
  data() {
    return {
      fillProAttr: {
        project_id: '',
        attribute_key: '',
        attribute_name: '',
        project: {
          name: '',
        },
      },
      indexProAttr: '',
    };
  },
  methods: {
    handleChooseProAttr(data, index) {
      this.fillProAttr = { ...data };
      this.indexProAttr = index;
    },
    updatedProAttr(data, index) {
      this.$set(this.projectAttributes, `${index}`, data);
    },
    deletedProjectAttribute() {
      this.$http
        .delete(
          `/api/project-attribute/${
            this.fillProAttr.attribute_key
          }/${
            this.fillProAttr.project_id}`,
        )
        .then(() => {
          // eslint-disable-next-line no-undef
          $('#deleteProAttrModal').modal('hide');
          this.$delete(this.projectAttributes, this.indexProAttr);
          showNotification('Successfully deleted the Project Attribute', 'bg-success');
        })
        .catch((err) => {
          const { data } = err.response;
          showNotification(data.message, 'bg-danger');
        });
    },
  },
};
</script>
