<template>
  <div
    class="modal fade"
    id="editUserModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Edit Project Category</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"  @click="resetValidate">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label">
                Project Name
                <code>*</code>:
              </label>
              <input
                type="text"
                class="form-control"
                disabled
                v-model="proCateIdEdit.project.name"
              />
            </div>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label">
                Category Key
                <code>*</code>:
              </label>
              <input type="text" class="form-control" v-model="$v.proCateIdEdit.category_key.$model" />
                <div v-if="$v.proCateIdEdit.category_key.$error">
                  <code
                    class="error"
                    v-if="!$v.proCateIdEdit.category_key.required" v-html="messageValidate.required"
                  ></code>
                  <code
                    class="error"
                    v-if="!$v.proCateIdEdit.category_key.alpha" v-html="messageValidate.alpha"
                  ></code>
                </div>
                <code v-html="error.category_key"></code>
            </div>
            <div class="form-group row">
              <label for="recipient-name" class="col-form-label">
                Category Name
                <code>*</code>:
              </label>

              <input type="text" class="form-control" v-model="$v.proCateIdEdit.category_name.$model" />
              <div v-if="$v.proCateIdEdit.category_name.$error">
                  <code
                    class="error"
                    v-if="!$v.proCateIdEdit.category_name.required" v-html="messageValidate.required"
                  ></code>
                </div>
                <code v-html="error.category_name"></code>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            id="btn-close"
            data-dismiss="modal"
            @click="resetValidate"
          >Close</button>
          <button
            type="button"
            @click="updateProCate"
            class="btn btn-info btn-sm"
          >Edit</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, helpers } from 'vuelidate/lib/validators';
import {
  showNotification,
} from '../../utilities/common';
import {
  regexAlpha, messageValidate,
} from '../../utilities/validate';

const alpha = helpers.regex('alpha', regexAlpha);
export default {
  name: 'edit-project-category',
  props: ['projectCategory', 'index'],
  data() {
    return {
      error: {
        project_id: '',
        category_key: '',
        category_name: '',
      },
      submitStatus: null,
      messageValidate,
      proCateIdEdit: {
        category_key: this.projectCategory.category_key,
        category_name: this.projectCategory.category_name,
        project: this.projectCategory.project,
      },
    };
  },
  validations: {
    proCateIdEdit: {
      category_key: {
        required,
        alpha,
      },
      category_name: {
        required,
      },
    },
  },
  watch: {
    'proCateIdEdit.category_key': {
      handler() {
        this.proCateIdEdit.category_key = this.proCateIdEdit.category_key.toUpperCase();
      },
      deep: true,
    },
    projectCategory: {
      handler() {
        this.proCateIdEdit = {
          category_key: this.projectCategory.category_key,
          category_name: this.projectCategory.category_name,
          project: this.projectCategory.project,
        };
      },
      deep: true,
    },
  },
  methods: {
    updateProCate() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        const input = this.proCateIdEdit;
        this.$http
          .put(`/api/project-category/${this.projectCategory.category_key}/${this.proCateIdEdit.project.id}`, input)
          .then((res) => {
            const result = res.data.projectCategory;
            result.project = this.proCateIdEdit.project;
            this.$emit('updatedProCate', result, this.index);
            // eslint-disable-next-line no-undef
            $('#editUserModal').modal('hide');
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;

            if (status === 422) {
              const mesageError = {};
              Object.keys(data.error).forEach((key) => {
                mesageError[key] = data.error[key].join('. ');
              });
              this.error = mesageError;
            }
            showNotification(data.message, 'bg-danger');
          });
      }
    },
    resetValidate() {
      const value = {};
      Object.keys(this.proCateIdEdit).forEach((index) => {
        value[index] = '';
      });
      this.proCateIdEdit = value;
      this.error = {};
      this.$v.$reset();
    },
  },
};
</script>
