<template>
  <div class="card-body table-responsive p-0"  style="max-height: 330px;">
    <table class="table table-head-fixed">
      <caption hidden>Project Category</caption>
      <thead>
        <tr>
          <th scope="col" style="width:10%">No.</th>
          <th scope="col">Category Name</th>
          <th scope="col">Category Key</th>
          <th scope="col" style="width:15%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(projectCategory,index) in projectCategories" :key="index">
          <td>{{index+1}}</td>
          <td>{{projectCategory.category_name}}</td>
          <td>{{projectCategory.category_key}}</td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-toggle="modal"
              data-target="#editUserModal"
              @click="handleChooseProCate(projectCategory,index)"
            >
              <em class="far fa-edit"></em>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#deleteUserModal"
              @click="handleChooseProCate(projectCategory,index)"
            >
              <em class="fas fa-trash-alt"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <edit-project-category
    v-if="fillProCate.project_id !== ''"
      v-bind:projectCategory="fillProCate"
      :index="indexProCate"
      @updatedProCate="updatedProCate"
    ></edit-project-category>
    <div
      class="modal fade"
      id="deleteUserModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you delete this project category?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" @click="deletedProjectCategory">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import EditProjectCategory from './EditProjectCategoryComponent';
import { showNotification } from '../../utilities/common';

export default {
  components: {
    EditProjectCategory,
  },
  name: 'list-project-categories',
  props: ['projectCategories'],
  data() {
    return {
      fillProCate: {
        project_id: '',
        category_key: '',
        category_name: '',
        project: {
          name: '',
        },
      },
      indexProCate: '',
    };
  },
  methods: {
    handleChooseProCate(data, index) {
      this.fillProCate = { ...data };
      this.indexProCate = index;
    },
    updatedProCate(data, index) {
      this.$set(this.projectCategories, `${index}`, data);
    },
    deletedProjectCategory() {
      this.$http
        .delete(
          `/api/project-category/${
            this.fillProCate.category_key
          }/${
            this.fillProCate.project_id}`,
        )
        .then(() => {
          // eslint-disable-next-line no-undef
          $('#deleteUserModal').modal('hide');
          this.$delete(this.projectCategories, this.indexProCate);
          showNotification('Successfully deleted the Project category', 'bg-success');
        })
        .catch((err) => {
          const { data } = err.response;
          showNotification(data.message, 'bg-danger');
        });
    },
  },
};
</script>
