<template>
  <div
    tabindex="1"
    @wheel.shift.exact="handleZoom"
    @keydown.ctrl.67.exact="handleCopy"
    @keydown.ctrl.90.exact="handleUndo"
    @keydown.ctrl.89.exact="handleRedo"
    @keydown.46.exact="handleRemove"
    @keydown.ctrl.83.prevent.stop="handleSave"
  >
    <v-stage
        id="master-stage"
        ref="stage"
        :config="stageConfig"
        @click="handleDrawInLayer"
        @mousemove="handleMouseMove"
    >
      <v-layer ref="img-layer">
        <v-image
          id="image-selected"
          @dragstart="handleDragStart"
          @dragend="handleDragEnd"
          :config="imageConfig"
        />
      </v-layer>
      <v-layer ref="layer" @mousedown="handleLayerMouseDown">
        <rectangles-component v-if="rectangles.length" :rectangles="rectangles"/>
        <circles-component v-if="points.length" :circles="points"/>
        <circles-component v-if="circles.length" :circles="circles"/>
        <lines-component v-if="lines.length" :lines="lines"/>
        <lines-component v-if="linesSegment.length" :lines="linesSegment"/>
        <v-rect :config="rectDrawConfig"/>
        <v-line :config="lineDrawConfig"/>
        <v-circle :config="circleDrawConfig"/>
        <v-transformer ref="transformer" :config="transformerConfig"/>
      </v-layer>
    </v-stage>
  </div>
</template>

<script>
import { getStageZoom } from '../../helpers/annotation';
import RectanglesComponent from './RectanglesComponent';
import CirclesComponent from './CirclesComponent';
import LinesComponent from './LinesComponent';
import { getRelativePointerPosition, reverseRect } from '../../utilities/anotation-tool';
import {
  checkValueBetween, ZOOM_IN_SCALE, ZOOM_OUT_SCALE, POINT_SIZE, MAX_CLOSE_SEGMENT, STROKE_WIDTH,
  ANNOTATE_ACTIONS, ANNOTATION_SHAPES, HISTORY_ACTIONS, WIDTH_CANVAS, HEIGHT_CANVAS, showNotification,
} from '../../utilities/common';

export default {
  name: 'CanvasComponent',
  components: {
    'rectangles-component': RectanglesComponent,
    'circles-component': CirclesComponent,
    'lines-component': LinesComponent,
  },
  props: ['labelChosen'],
  created() {
    if (this.imageChosen !== null) {
      const image = new window.Image();
      image.src = this.imageChosen.src_url;
      image.onload = () => {
        this.imageConfig.image = image;
      };
    } else {
      this.imageConfig.image = null;
    }
  },
  mounted() {
    this.$root.$on('handlerAnnotationAction', (type) => {
      this.annotationAction = type;
    });
    this.$root.$on('handleCopyLabel', () => {
      this.handleCopy();
    });
    this.$root.$on('handleUndoAnnotation', () => {
      this.handleUndo();
    });
    this.$root.$on('handleRedoAnnotation', () => {
      this.handleRedo();
    });
    this.$root.$on('handleRemoveAnnotation', () => {
      this.handleRemove();
    });
  },
  data() {
    return {
      annotationAction: null,
      imageConfig: {
        image: this.image,
        draggable: false,
      },
      stageConfig: {
        width: WIDTH_CANVAS,
        height: HEIGHT_CANVAS,
        draggable: true,
      //   dragBoundFunc(pos) {
      //     const maxDragX = (this.width() * this.scaleX()) / 2;
      //     const maxDragY = (this.height() * this.scaleY()) / 2;
      //     let newX = pos.x;
      //     let newY = pos.y;
      //     if (pos.y < -maxDragY) {
      //       newY = -maxDragY;
      //     } else if (pos.y > maxDragY) {
      //       newY = maxDragY;
      //     }
      //     if (pos.x < -maxDragX) {
      //       newX = -maxDragX;
      //     } else if (pos.x > maxDragX) {
      //       newX = maxDragX;
      //     }
      //     return {
      //       x: newX,
      //       y: newY,
      //     };
      //   },
      },
      zoomIn: ZOOM_IN_SCALE,
      zoomOut: ZOOM_OUT_SCALE,
      isDragging: false,
      isDrawing: false,
      posStart: null,
      posNow: null,
      rectDrawConfig: {
        x: 0,
        y: 0,
        width: 0,
        height: 0,
        stroke: 'red',
        dash: [2, 2],
        strokeScaleEnabled: false,
        listening: true,
        visible: false,
      },
      lineDrawConfig: {
        x: 0,
        y: 0,
        points: [],
        stroke: 'red',
        strokeWidth: STROKE_WIDTH,
        lineJoin: 'round',
        strokeScaleEnabled: false,
        listening: true,
        visible: false,
      },
      circleDrawConfig: {
        x: 0,
        y: 0,
        width: 0,
        height: 0,
        stroke: 'red',
        strokeWidth: STROKE_WIDTH,
        dash: [2, 2],
        strokeScaleEnabled: false,
        listening: true,
        visible: false,
      },
      transformerConfig: {
        anchorSize: 5,
        rotateEnabled: false,
      },
      segmentPoints: [],
      linesSegment: [],
      selectedShapeName: '',
    };
  },
  computed: {
    scale() {
      return this.$store.state.annotation.scale;
    },
    rectangles() {
      const rectanglesLabels = this.$store.getters['annotation/labelsByType'](ANNOTATION_SHAPES[ANNOTATE_ACTIONS.DRAW_RECT]);
      return this.getShapeFromLabels(rectanglesLabels);
    },
    points() {
      const pointsLabels = this.$store.getters['annotation/labelsByType'](ANNOTATION_SHAPES[ANNOTATE_ACTIONS.DRAW_POINT]);
      return this.getShapeFromLabels(pointsLabels);
    },
    circles() {
      const circlesLabels = this.$store.getters['annotation/labelsByType'](ANNOTATION_SHAPES[ANNOTATE_ACTIONS.DRAW_CIRCLE]);
      return this.getShapeFromLabels(circlesLabels);
    },
    lines() {
      const linesLabels = this.$store.getters['annotation/labelsByType'](ANNOTATION_SHAPES[ANNOTATE_ACTIONS.DRAW_LINE]);
      const segmentsLabels = this.$store.getters['annotation/labelsByType'](ANNOTATION_SHAPES[ANNOTATE_ACTIONS.DRAW_SEGMENT]);
      const linesShape = this.getShapeFromLabels(linesLabels);
      const segmentsShape = this.getShapeFromLabels(segmentsLabels);
      return linesShape.concat(segmentsShape);
    },
    historyStep() {
      return this.$store.getters['annotation/historyStep'];
    },
    labels() {
      return this.$store.getters['annotation/labels'];
    },
    imageChosen() {
      return this.$store.getters['annotation/imageChosen'];
    },
  },
  watch: {
    imageChosen() {
      if (this.imageChosen !== null) {
        const image = new window.Image();
        image.src = this.imageChosen.src_url;
        image.onload = () => {
        // set image only when it is loaded
          this.imageConfig.image = image;
          const labelsTmp = this.labels.map((label) => {
            const tmp = {
              edit: label.edit,
              id: label.id,
              isShowing: label.isShowing,
              shape: { ...label.shape },
              text: label.text,
              type: label.type,
            };
            return tmp;
          });
          const historyTmp = [];
          historyTmp.push(labelsTmp);
          this.$store.dispatch('annotation/setHistory', historyTmp);
        };
      } else {
        this.imageConfig.image = null;
      }
    },
    annotationAction() {
      if (this.annotationAction === ANNOTATE_ACTIONS.SELECT) {
        this.isDrawing = false;
        this.rectDrawConfig.visible = false;
        this.lineDrawConfig.visible = false;
        this.circleDrawConfig.visible = false;
        this.segmentPoints = [];
        this.linesSegment = [];
      }
    },
    scale() {
      let stage = this.$refs.stage.getStage();
      const newScale = this.$store.state.annotation.scale;
      stage = getStageZoom(stage, newScale);
      stage.batchDraw();
    },
    labelChosen() {
      const labels = this.$store.getters['annotation/labelsSelected'];
      this.selectedShapeName = labels[this.labelChosen].shape.name;
      this.updateTransformer();
    },
  },
  methods: {
    handleSave() {
      const imageChosen = this.$store.getters['annotation/imageChosen'];
      const currentTaskStatus = this.$store.getters['annotation/currentTaskStatus'];
      const params = {
        time_working: currentTaskStatus.time_working,
        task_status_id: currentTaskStatus.id,
        output_json: JSON.stringify(imageChosen.labels),
      };
      this.$http.put(`/api/annotations/projects/task/update/${imageChosen.id}`, params)
        .then(() => {
          showNotification('Save successful', 'bg-success');
        });
    },
    handleZoom(e) {
      const oldScale = this.$store.state.annotation.scale;
      let newScale = 0;
      if (e.deltaY < 0) {
        newScale = Math.max(0.05, oldScale * ZOOM_IN_SCALE);
      }
      if (e.deltaY > 0) {
        newScale = Math.max(0.05, oldScale * ZOOM_OUT_SCALE);
      }
      this.$store.dispatch('annotation/setScale', newScale);
    },
    handleDragStart() {
      this.isDragging = true;
    },
    handleDragEnd() {
      this.isDragging = false;
    },
    addLabelShape(shapeAdd, shapeType) {
      const index = this.labels.length + 1;
      const labelAdd = {
        id: index, text: `label ${index}`, type: shapeType, isShowing: true, shape: shapeAdd,
      };
      this.labels.push(labelAdd);
      this.$store.dispatch('annotation/setLabels', this.labels);
    },
    removeLabelShape(shape) {
      const labels = this.labels.filter((p) => p.shape.name !== shape.name);
      this.$store.dispatch('annotation/setLabels', labels);
      this.addHistory();
    },
    editLabelShape(shape) {
      const labelsTmp = [...this.labels];
      labelsTmp.forEach((label, index) => {
        if (label.shape.name === shape.name) {
          labelsTmp[index].shape.x = shape.x;
          labelsTmp[index].shape.y = shape.y;
          labelsTmp[index].shape.scaleX = shape.scaleX;
          labelsTmp[index].shape.scaleY = shape.scaleY;
        }
      });
      this.$store.dispatch('annotation/setLabels', labelsTmp);
    },
    handleMouseMove(e) {
      if (!this.isDrawing) {
        return;
      }
      const stage = this.$refs.stage.getStage();
      const newPos = getRelativePointerPosition(stage);
      this.posNow = { x: newPos.x, y: newPos.y };
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_RECT && this.isDrawing) {
        const posRect = reverseRect(this.posStart, this.posNow);
        this.rectDrawConfig.x = posRect.x1;
        this.rectDrawConfig.y = posRect.y1;
        this.rectDrawConfig.width = posRect.x2 - posRect.x1;
        this.rectDrawConfig.height = posRect.y2 - posRect.y1;
        this.rectDrawConfig.visible = true;
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_SQUARE && this.isDrawing) {
        const posRect = reverseRect(this.posStart, this.posNow);
        this.rectDrawConfig.x = posRect.x1;
        this.rectDrawConfig.y = posRect.y1;
        this.rectDrawConfig.width = posRect.x2 - posRect.x1;
        this.rectDrawConfig.height = posRect.x2 - posRect.x1;
        this.rectDrawConfig.visible = true;
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_CIRCLE && this.isDrawing) {
        this.circleDrawConfig.x = this.posStart.x;
        this.circleDrawConfig.y = this.posStart.y;
        const radius = Math.sqrt((this.posNow.x - this.posStart.x) ** 2 + (this.posNow.y - this.posStart.y) ** 2);
        this.circleDrawConfig.width = radius * 2;
        this.circleDrawConfig.height = radius * 2;
        this.circleDrawConfig.visible = true;
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_LINE || this.annotationAction === ANNOTATE_ACTIONS.DRAW_SEGMENT) {
        this.lineDrawConfig.points = [this.posStart.x, this.posStart.y, this.posNow.x, this.posNow.y];
        this.lineDrawConfig.x = e.target.x();
        this.lineDrawConfig.y = e.target.y();
        this.lineDrawConfig.visible = true;
      }
    },
    handleDrawInLayer(e) {
      const stage = this.$refs.stage.getStage();
      const newPos = getRelativePointerPosition(stage);
      this.posStart = { x: newPos.x, y: newPos.y };
      this.posNow = { x: newPos.x, y: newPos.y };
      if (this.annotationAction === ANNOTATE_ACTIONS.SELECT) {
        // clicked on image or stage - clear selection
        if (e.target.attrs.id === 'image-selected' || e.target === e.target.getStage()) {
          this.selectedShapeName = '';
          this.updateTransformer();
        }
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_POINT) {
        const pointAdd = {
          x: newPos.x,
          y: newPos.y,
          width: POINT_SIZE,
          height: POINT_SIZE,
          fill: 'red',
          strokeWidth: STROKE_WIDTH,
          draggable: true,
          strokeScaleEnabled: false,
          name: `point-${newPos.x}-${newPos.y}`,

        };
        this.addLabelShape(pointAdd, 'point');
        this.addHistory(HISTORY_ACTIONS.DRAW_POINT, pointAdd);
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_CIRCLE) {
        if (this.isDrawing) {
          this.circleDrawConfig.visible = false;
          const circleAdd = {
            x: this.circleDrawConfig.x,
            y: this.circleDrawConfig.y,
            width: this.circleDrawConfig.width,
            height: this.circleDrawConfig.height,
            stroke: 'red',
            strokeWidth: STROKE_WIDTH,
            strokeScaleEnabled: false,
            draggable: true,
            name: `circle-${this.circleDrawConfig.x}-${this.circleDrawConfig.y}`,
          };
          this.addLabelShape(circleAdd, 'circle');
          this.addHistory(HISTORY_ACTIONS.DRAW_CIRCLE, circleAdd);
        }
        this.isDrawing = !this.isDrawing;
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_RECT || this.annotationAction === ANNOTATE_ACTIONS.DRAW_SQUARE) {
        if (this.isDrawing) {
          this.rectDrawConfig.visible = false;
          const rectAdd = {
            x: this.rectDrawConfig.x,
            y: this.rectDrawConfig.y,
            width: this.rectDrawConfig.width,
            height: this.rectDrawConfig.height,
            strokeWidth: STROKE_WIDTH,
            stroke: 'red',
            strokeScaleEnabled: false,
            draggable: true,
            name: `rect-${this.rectDrawConfig.x}-${this.rectDrawConfig.y}`,
          };
          this.addLabelShape(rectAdd, 'rect');
          this.addHistory();
        }
        this.isDrawing = !this.isDrawing;
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_LINE) {
        if (this.isDrawing) {
          this.lineDrawConfig.visible = false;
          const lineAdd = {
            x: this.lineDrawConfig.x,
            y: this.lineDrawConfig.y,
            points: this.lineDrawConfig.points,
            stroke: 'red',
            strokeWidth: STROKE_WIDTH,
            lineJoin: 'round',
            strokeScaleEnabled: false,
            draggable: true,
            name: `line-${this.lineDrawConfig.points[0]}-${this.lineDrawConfig.points[1]}`,
          };
          this.addLabelShape(lineAdd, 'line');
          this.addHistory(HISTORY_ACTIONS.DRAW_LINE, lineAdd);
          this.lineDrawConfig.points = [];
        }
        this.isDrawing = !this.isDrawing;
        return;
      }
      if (this.annotationAction === ANNOTATE_ACTIONS.DRAW_SEGMENT) {
        this.segmentPoints.push(newPos.x);
        this.segmentPoints.push(newPos.y);
        if (this.isDrawing) {
          if (checkValueBetween(newPos.x, this.segmentPoints[0] - MAX_CLOSE_SEGMENT, this.segmentPoints[0] + MAX_CLOSE_SEGMENT)
                            && checkValueBetween(newPos.y, this.segmentPoints[1] - MAX_CLOSE_SEGMENT, this.segmentPoints[1] + MAX_CLOSE_SEGMENT)) {
            const lineAdd = {
              x: this.lineDrawConfig.x,
              y: this.lineDrawConfig.y,
              points: this.segmentPoints,
              fill: 'rgba(78, 205, 196, 0.5)',
              stroke: 'red',
              strokeWidth: STROKE_WIDTH,
              lineJoin: 'round',
              strokeScaleEnabled: false,
              draggable: true,
              closed: true,
              name: `segment-${this.segmentPoints[0]}-${this.segmentPoints[1]}`,
            };
            this.addLabelShape(lineAdd, 'segment');
            this.addHistory(HISTORY_ACTIONS.DRAW_SEGMENT, lineAdd);
            this.isDrawing = false;
            this.segmentPoints = [];
            this.linesSegment = [];
            this.lineDrawConfig.points = [];
            return;
          }
          const lineTmp = {
            points: this.lineDrawConfig.points,
            stroke: 'red',
            strokeWidth: STROKE_WIDTH,
            lineJoin: 'round',
            strokeScaleEnabled: false,
          };
          this.linesSegment.push(lineTmp);
        }
        this.isDrawing = true;
      }
    },
    updateTransformer() {
      // here we need to manually attach or detach Transformer node
      const transformerNode = this.$refs.transformer.getStage();
      const stage = transformerNode.getStage();
      const { selectedShapeName } = this;

      const selectedNode = stage.findOne(`.${selectedShapeName}`);
      // do nothing if selected node is already attached
      if (selectedNode === transformerNode.node()) {
        return;
      }

      if (selectedNode) {
        // attach to another node
        transformerNode.attachTo(selectedNode);
      } else {
        // remove transformer
        transformerNode.detach();
      }
      transformerNode.getLayer().batchDraw();
    },
    handleLayerMouseDown(e) {
      if (!(this.annotationAction === ANNOTATE_ACTIONS.SELECT)) {
        return;
      }
      // clicked on transformer - do nothing
      const clickedOnTransformer = e.target.getParent().className === 'Transformer';
      if (clickedOnTransformer) {
        return;
      }

      const name = e.target.name();
      const labelsSelected = this.$store.getters['annotation/labelsSelected'];
      this.selectedShapeName = '';
      Object.keys(labelsSelected).forEach((key) => {
        if (labelsSelected[key].shape.name === name) {
          this.$emit('update-label-chosen', key);
          this.selectedShapeName = labelsSelected[key].shape.name;
        }
      });
      this.updateTransformer();
    },
    getShapeFromLabels(shapeLabels) {
      return shapeLabels.map((label) => {
        const shape = { ...label.shape };
        shape.visible = label.isShowing;
        return shape;
      });
    },
    addHistory() {
      const labelsTmp = this.labels.map((label) => {
        const tmp = {
          edit: label.edit,
          id: label.id,
          isShowing: label.isShowing,
          shape: { ...label.shape },
          text: label.text,
          type: label.type,
        };
        return tmp;
      });
      this.$store.dispatch('annotation/addHistory', labelsTmp);
      this.$store.dispatch('annotation/increaseHistoryStep');
    },
    handleUndo() {
      if (this.historyStep === 0) {
        return;
      }
      const history = this.$store.getters['annotation/history'];
      const labelsHistory = [...history[this.historyStep - 1]];
      this.$store.dispatch('annotation/setLabels', labelsHistory);
      this.$store.dispatch('annotation/reduceHistoryStep');
    },
    handleRedo() {
      const history = this.$store.getters['annotation/history'];
      if (this.historyStep === history.length - 1) {
        return;
      }
      const labelsHistory = [...history[this.historyStep + 1]];
      this.$store.dispatch('annotation/setLabels', labelsHistory);
      this.$store.dispatch('annotation/increaseHistoryStep');
    },
    handleRemove() {
      const labelsSelected = this.$store.getters['annotation/labelsSelected'];
      Object.keys(labelsSelected).forEach((key) => {
        if (labelsSelected[key].shape.name === this.selectedShapeName) {
          this.removeLabelShape(labelsSelected[key].shape);
          this.selectedShapeName = '';
          this.updateTransformer();
        }
      });
    },
    handleCopy() {
      if (this.labelChosen !== null) {
        const labelCopy = { ...this.labels[this.labelChosen].shape };
        const typeCopy = this.labels[this.labelChosen].type;
        const index = this.labels.length + 1;
        labelCopy.name = `${labelCopy.name}.${index}`;
        switch (typeCopy) {
          case 'point':
            labelCopy.x += 10;
            labelCopy.y += 10;
            this.addHistory(HISTORY_ACTIONS.DRAW_POINT, labelCopy);
            break;
          case 'circle':
            labelCopy.x += 10;
            labelCopy.y += 10;
            this.addHistory(HISTORY_ACTIONS.DRAW_CIRCLE, labelCopy);
            break;
          case 'rect':
            labelCopy.x += 10;
            labelCopy.y += 10;
            this.addHistory(HISTORY_ACTIONS.DRAW_RECT, labelCopy);
            break;
          case 'line':
            labelCopy.points = labelCopy.points.map((point) => point + 20);
            this.addHistory(HISTORY_ACTIONS.DRAW_LINE, labelCopy);
            break;
          case 'segment':
            labelCopy.points = labelCopy.points.map((point) => point + 20);
            this.addHistory(HISTORY_ACTIONS.DRAW_RECT, labelCopy);
            break;
          default:
        }
        this.addLabelShape(labelCopy, typeCopy);
      }
    },
  },
};
</script>

<style scoped>
  #master-stage {
    border: 3px solid grey !important;
  }
</style>
