<template>
    <div>
        <v-circle
          v-for="circle in circles"
          v-bind:key="circle.id"
          v-bind:config="circle"
          @dragend="(e) => handleChangeLabels(e, circle)"
          @transformEnd="(e) => handleChangeLabels(e, circle)"
        >
        </v-circle>
    </div>
</template>

<script>
import { getLabelTransformerEnd } from '../../helpers/annotation';

export default {
  name: 'CirclesComponent',
  props: ['circles'],
  methods: {
    handleChangeLabels(e, data) {
      const labels = this.$store.getters['annotation/labels'];
      this.$store.dispatch('annotation/increaseHistoryStep');
      const labelResults = getLabelTransformerEnd(labels, data, e);
      this.$store.dispatch('annotation/setLabels', labelResults);
      const labelsTmp = labelResults.map((label) => {
        const tmp = {
          edit: label.edit,
          id: label.id,
          isShowing: label.isShowing,
          shape: { ...label.shape },
          text: label.text,
          type: label.type,
        };
        return tmp;
      });
      this.$store.dispatch('annotation/addHistory', labelsTmp);
    },
  },
};
</script>

<style scoped>

</style>
