<template>
    <div class="content-header">
        <div class="container-fluid">
            <div class="card card-info">
                <div class="card-header">
                    <div class="card-title">
                      <div>
                        {{ currentAction }}
                      </div>
                    </div>
                    <div class="card-tools">
                       <div v-if="workingType === WORKING_TYPE.ANNOTATING" class="time-working">
                        {{ timeWorking }}
                      </div>
                        <div class="card-tools-element m-l-4 m-r-4">
                            <button v-if="workingType === WORKING_TYPE.ANNOTATING"
                              title="Save(Ctrl+S)" @click="saveAnnotation" class="tool-element btn-save">
                                <span>
                                      <em class="fas fa-save"></em>
                                </span>
                            </button>
                            <button v-if="workingType === WORKING_TYPE.ANNOTATING"
                              title="Copy object(Ctrl+C)" @click="handleCopy" class="tool-element btn-copy-object">
                                <span>
                                      <em class="fas fa-object-ungroup"></em>
                                </span>
                            </button>
                            <button v-if="workingType === WORKING_TYPE.ANNOTATING"
                              title="Remove object(Del)" @click="handleRemove" class="tool-element btn-remove-object">
                                <span>
                                    <em class="fas fa-trash"></em>
                                </span>
                            </button>
                            <button v-if="workingType === WORKING_TYPE.ANNOTATING"
                              title="Undo(Ctrl+Z)" data-action="Undo(Ctrl+Z)" @click="handleUndo" class="tool-element btn-undo">
                                <span>
                                   <em class="fas fa-undo"></em>
                                </span>
                            </button>
                            <button v-if="workingType === WORKING_TYPE.ANNOTATING"
                              title="Redo(Ctrl+Y)" data-action="Redo(Ctrl+Y)" @click="handleRedo" class="tool-element btn-redo">
                                <span>
                                   <em class="fas fa-redo"></em>
                                </span>
                            </button>
                            <button title="ZoomIn(Shift+MouseUp)" data-action="zoom-in" @click="actionZoom(1/1.2)" class="tool-element btn-zoom-in">
                                <span>
                                     <em class="fas fa-search-minus"></em>
                                </span>
                            </button>
                            <button title="ZoomOut(Shift+MouseDown)" data-action="zoom-out" @click="actionZoom(1.2)" class="tool-element btn-zoom-out">
                                <span>
                                    <em class="fas fa-search-plus"></em>
                                </span>
                            </button>
                        </div>
                        <div class="card-tool-sharpe m-l-4 m-r-4" v-if="workingType === WORKING_TYPE.ANNOTATING">
                            <button title="Select object" @click="handlerAnnotationAction(ANNOTATE_ACTIONS.SELECT)"
                              :class="[{ active: activeBtn === ANNOTATE_ACTIONS.SELECT}, 'tool-element-sharpe', 'btn-select-object']">
                                <span>
                                      <em class="fas fa-mouse-pointer"></em>
                                </span>
                            </button>
                            <button title="Draw point" @click="handlerAnnotationAction(ANNOTATE_ACTIONS.DRAW_POINT)"
                            :class="[{ active: activeBtn === ANNOTATE_ACTIONS.DRAW_POINT}, 'tool-element-sharpe', 'btn-draw-point']">
                                <span>
                                       <em class="fas fa-circle"></em>
                                </span>
                            </button>
                            <button title="Draw circle" @click="handlerAnnotationAction(ANNOTATE_ACTIONS.DRAW_CIRCLE)"
                            :class="[{ active: activeBtn === ANNOTATE_ACTIONS.DRAW_CIRCLE}, 'tool-element-sharpe', 'btn-draw-circle']">
                                <span>
                                       <em class="far fa-circle"></em>
                                </span>
                            </button>
                            <button title="Draw rectange" @click="handlerAnnotationAction(ANNOTATE_ACTIONS.DRAW_RECT)"
                            :class="[{ active: activeBtn === ANNOTATE_ACTIONS.DRAW_RECT}, 'tool-element-sharpe', 'btn-draw-rectange']">
                                <span>
                                       <em class="fas fa-vector-square"></em>
                                </span>
                            </button>
                            <button title="Draw square" @click="handlerAnnotationAction(ANNOTATE_ACTIONS.DRAW_SQUARE)"
                            :class="[{ active: activeBtn === ANNOTATE_ACTIONS.DRAW_SQUARE}, 'tool-element-sharpe', 'btn-draw-square']">
                                <span>
                                       <em class="fas fa-vector-square"></em>
                                </span>
                            </button>
                            <button title="Draw line" @click="handlerAnnotationAction(ANNOTATE_ACTIONS.DRAW_LINE)"
                            :class="[{ active: activeBtn === ANNOTATE_ACTIONS.DRAW_LINE}, 'tool-element-sharpe', 'btn-draw-line']">
                                <span>
                                       <em class="fas fa-minus"></em>
                                </span>
                            </button>
                            <button title="Draw polygon"  @click="handlerAnnotationAction(ANNOTATE_ACTIONS.DRAW_SEGMENT)"
                            :class="[{ active: activeBtn === ANNOTATE_ACTIONS.DRAW_SEGMENT}, 'tool-element-sharpe', 'btn-draw-polygon']">
                                <span>
                                       <em class="fas fa-draw-polygon"></em>
                                </span>
                            </button>
                        </div>
                        <div class="card-tool-control" v-if="workingType === WORKING_TYPE.ANNOTATING">
                            <button v-if="!isWorking" class="btn btn-sm btn-primary" @click="handleStartWorking">
                                <span v-if="timeWorking === '00:00:00'">
                                        Start <em class="fas fa-play"></em>
                                </span>
                                <span v-if="timeWorking !== '00:00:00'">
                                        Resume <em class="fas fa-play"></em>
                                </span>
                            </button>
                            <button v-if="isWorking" class="btn btn-sm btn-warning" @click="handleStopWorking">
                                <span>
                                        Pause <em class="fas fa-pause"></em>
                                </span>
                            </button>
                            <button v-if="!isWorking" class="btn btn-sm btn-success" @click="handleDone">
                                <span>
                                        Done <em class="fas fa-check-circle"></em>
                                </span>
                            </button>
                        </div>
                        <div class="card-tool-control" v-if="workingType === WORKING_TYPE.REVIEWING">
                          <button v-if="review" class="btn btn-sm btn-success" @click="handleAccept">
                              <span>
                                      Accept <em class="fas fa-check-circle"></em>
                              </span>
                          </button>
                          <button v-if="review" class="btn btn-sm btn-danger" @click="handleReject">
                              <span>
                                      Reject <em class="fas fa-ban"></em>
                              </span>
                          </button>
                        </div>
                        <div class="img-thumb">
                            <img v-if="imageChosen" :src="imageChosen.src_url" alt="image">
                        </div>
                        <div class="header-txt-review m-l-4">
                        <span v-if="imageChosen">
                            {{ imageChosen.title }}
                            <br />
                            {{ TASK_STATUS_STRING[imageChosen.status] }}
                        </span>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="rejectModal">Comment for task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Reason for the rejection this task:</label>
                            <textarea class="form-control" id="message-text" v-model="messageReject"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info btn-sm" @click.prevent="submitRejectTask">Send message</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</template>

<script>
import {
  ANNOTATE_ACTIONS, ANNOTATION_SHAPES, showNotification,
  WORKING_TYPE, TASK_STATUS_STRING, STATUS_TASK_STATUS, TASK_STATUS_DEFAULT,
} from '../../utilities/common';

export default {
  name: 'MenuTopComponent',
  components: {},
  props: ['workingType'],
  data() {
    return {
      currentAction: '',
      ANNOTATE_ACTIONS,
      WORKING_TYPE,
      isWorking: false,
      timeBegan: null,
      timeStopped: null,
      stoppedDuration: 0,
      started: null,
      review: true,
      activeBtn: 1,
      messageReject: '',
      taskStatusId: 0,
      TASK_STATUS_STRING,
      timeWorking: '00:00:00',
    };
  },
  mounted() {
    if (this.currentTaskStatus.time_working !== null) {
      this.timeWorking = this.currentTaskStatus.time_working;
    }
  },
  watch: {
    imageChosen() {
      this.timeWorking = this.currentTaskStatus.time_working;
    },
  },
  methods: {
    actionZoom(scaleBy) {
      const oldScale = this.$store.state.annotation.scale;
      const newScale = Math.max(0.05, oldScale * scaleBy);
      this.$store.dispatch('annotation/setScale', newScale);
    },
    handlerAnnotationAction(type) {
      if (this.isWorking) {
        this.activeBtn = type;
        if (type === 1) {
          this.currentAction = 'Select shape';
        } else {
          this.currentAction = `Draw ${ANNOTATION_SHAPES[type]}`;
        }
        this.$root.$emit('handlerAnnotationAction', type);
      }
    },
    handleCopy() {
      if (this.isWorking) {
        this.$root.$emit('handleCopyLabel');
      }
    },
    handleUndo() {
      this.$root.$emit('handleUndoAnnotation');
    },
    handleRedo() {
      this.$root.$emit('handleRedoAnnotation');
    },
    handleRemove() {
      if (this.isWorking) {
        this.$root.$emit('handleRemoveAnnotation');
      }
    },
    handleStartWorking() {
      if (this.isWorking) return;
      if (this.timeWorking === null || this.timeWorking === 0) {
        this.timeWorking = '00:00:00';
      }
      this.timeWorking += '';
      const times = this.timeWorking.split(':');
      const timeSeconds = parseInt(times[0], 10) * 3600 + parseInt(times[1], 10) * 60 + parseInt(times[2], 10);
      if (this.timeBegan === null) {
        this.timeBegan = new Date();
        this.timeBegan.setSeconds(this.timeBegan.getSeconds() - timeSeconds);
      }

      if (this.timeStopped !== null) {
        this.stoppedDuration += (new Date() - this.timeStopped);
      }

      this.started = setInterval(this.clockRunning, 10);
      this.isWorking = true;
      this.$http.put(`/api/task-status/${this.currentTaskStatus.id}`, { status: STATUS_TASK_STATUS.INPROGESS })
        .then(() => {
        });
    },
    handleStopWorking() {
      this.isWorking = false;
      this.timeStopped = new Date();
      clearInterval(this.started);
      this.$root.$emit('handlerAnnotationAction', ANNOTATE_ACTIONS.SELECT);
    },
    resetTimeWorking() {
      this.isWorking = false;
      clearInterval(this.started);
      this.stoppedDuration = 0;
      this.timeBegan = null;
      this.timeStopped = null;
      this.timeWorking = '00:00:00';
    },
    clockRunning() {
      const currentTime = new Date();
      const timeElapsed = new Date(currentTime - this.timeBegan - this.stoppedDuration);
      const hour = timeElapsed.getUTCHours();
      const min = timeElapsed.getUTCMinutes();
      const sec = timeElapsed.getUTCSeconds();
      this.timeWorking = `${this.zeroPrefix(hour, 2)}:${this.zeroPrefix(min, 2)}:${this.zeroPrefix(sec, 2)}`;
    },
    zeroPrefix(num, digit) {
      let zero = '';
      for (let i = 0; i < digit; i += 1) {
        zero += '0';
      }
      return (zero + num).slice(-digit);
    },
    saveAnnotation() {
      const params = {
        time_working: this.timeWorking,
        task_status_id: this.currentTaskStatus.id,
        output_json: JSON.stringify(this.imageChosen.labels),
      };
      this.$http.put(`/api/annotations/projects/task/update/${this.imageChosen.id}`, params)
        .then(() => {
          showNotification('Save successful', 'bg-success');
        });
    },
    handleDone() {
      this.$http.put(`/api/task-status/${this.currentTaskStatus.id}`, {
        status: STATUS_TASK_STATUS.CLOSE,
        status_task: TASK_STATUS_DEFAULT.REVIEW_FIRST,
      })
        .then(() => {
          this.$router.go(-1);
          showNotification('Done task successful', 'bg-success');
        });
    },
    handleReject() {
      // eslint-disable-next-line no-undef
      $('#rejectModal').modal('show');
    },
    handleAccept() {
      const params = {
        accept: true,
        status: 3,
      };
      this.$http.put(`/api/task-status/${this.currentTaskStatus.id}`, params)
        .then(() => {
          this.$router.go(-1);
          showNotification('Accept successful', 'bg-success');
        });
    },
    submitRejectTask() {
      const currentUser = this.$store.getters['annotation/currentUser'];
      const params = {
        user_id: currentUser.id,
        task_id: this.imageChosen.id,
        comment: this.messageReject,
      };
      this.$http.post('/api/review-comment', params)
        .then(() => {
          this.$http.get(`/api/tasks/${this.imageChosen.id}/reject-task`)
            .then(() => {
              // eslint-disable-next-line no-undef
              $('#rejectModal').modal('hide');
              this.$router.go(-1);
              showNotification('Reject task successful', 'bg-success');
            });
        });
    },
  },
  computed: {
    imageChosen() {
      return this.$store.getters['annotation/imageChosen'];
    },
    currentTaskStatus() {
      return this.$store.getters['annotation/currentTaskStatus'];
    },
  },
};
</script>

<style scoped>
    .card-header {
        padding: 0 15px;
        border-radius: 0;
        vertical-align: middle;
        height: 50px;
    }
    .card-tools {
        display: flex;
    }
    .card-header {
        padding: 0;
        height: 49px;
    }
    .img-thumb {
        padding-top: 5px;
        padding-bottom: 5px;
        height: 50px;
    }
    .m-l-4 {
        margin-left: 5px;
        margin-right: 10px;
    }
    .card-header .img-thumb img {
        height: 100%;
    }
    .card-title {
      transform: translateY(50%);
    }
    button.tool-element-sharpe {
        transform: translateY(8px);
        color: white;
        border: 1px solid currentColor;
        width: 35px;
        height: 35px
    }
    button.tool-element-sharpe.active {
      background-color: #28a745;
    }
    button.tool-element {
        transform: translateY(8px);
        color: white;
        border: 1px solid currentColor;
        border-radius: 50%;
        background: transparent !important;
        width: 35px;
        height: 35px;
    }
    button.tool-element:hover {
        opacity: 0.8;
    }
    button.tool-element:focus {
        outline: none;
    }
    .card-tool-sharpe .tool-element-sharpe {
        margin-left: -4px;
        background-color: #17a2b8;
    }
    .card-tool-sharpe .tool-element-sharpe:hover {
        opacity: 0.8;
    }
    .header-txt-review {
        padding-right: 10px;
    }
    .card-tool-control {
        padding-top: 10px;
        padding-right: 5px;
    }
    .time-working {
      padding-right: 30px;
    }
</style>
