<template>
    <div class="card-body">
        <div class="row">
          <label class="typo__label">Objects</label>
            <vue-multiselect
              v-model="typesSelect"
              :multiple="true"
              :options="types"
              v-on:input="updateSelected"
            >
            </vue-multiselect>
        </div>
        <div class="row table-responsive m-0" style="max-height: 300px; margin: 5px 0 5px 0!important">
            <ul id="tool_list_label" class="col-md-12 p-0">
                <li class="item-label" v-for="(label, index) in labels" :key="index" @click="handlerchosenLabel(index)"
                    :class="(labelChosen === index) ? 'chosen' : ''">
                  <div v-show = "label.edit == false">
                    <div class="label-title pull-left" @dblclick="updateEditable(label, true)"> {{ index+1 }}. {{label.text }} . {{label.type}}
                        <a class="label-action fa-pull-right" @click="updateIsShowing(label)">
                            <em class="fa fa-eye" v-if="label.isShowing"></em>
                            <em class="fa fa-eye-slash" v-if="!label.isShowing"></em>
                        </a>
                    </div>
                  </div>
                  <input :ref='"input_" + label.id' class="input-label" v-show="label.edit == true" v-model="label.text"
                    @blur="updateEditable(label, false); $emit('update')"
                    @keyup.enter="updateEditable(label, false); $emit('update')">
                </li>
            </ul>
        </div>
        <label class="typo__label">Property</label>
        <vue-multiselect v-if="this.labelSelected" v-model="color" :options="colors" placeholder="Select color" :searchable="true" :allow-empty="false"
         v-on:input="changeColor" :show-labels="false">
          <template slot="singleLabel" slot-scope="props">
            <div class="row">
              <div class="col-md-8">
                {{ props.option }}
              </div>
              <div class="col-md-2">
                <div class="color-pick" :style="{ 'background-color': props.option }">
                </div>
              </div>
            </div>
          </template>
          <template slot="option" slot-scope="props">
            <div class="row">
              <div class="col-md-8">
                {{ props.option }}
              </div>
              <div class="col-md-2">
                <div class="color-pick" :style="{ 'background-color': props.option }">
                </div>
              </div>
            </div>
          </template>
        </vue-multiselect>
    </div>
</template>

<script>
import VueMultiselect from 'vue-multiselect/src/Multiselect';
import { CSS_COLOR_NAMES } from '../../utilities/common';

export default {
  name: 'MenuLeftComponent',
  components: { VueMultiselect },
  props: ['labelChosen'],
  data() {
    return {
      types: ['circle', 'rect', 'line', 'point', 'segment'],
      typesSelect: ['circle', 'rect', 'line', 'point', 'segment'],
      editedTodo: null,
      labelSelected: null,
      color: 'red',
      colors: CSS_COLOR_NAMES,
    };
  },
  mounted() {
    this.updateSelected();
  },
  computed: {
    selected() {
      return this.$store.state.annotation.selected;
    },
    labels() {
      return this.$store.getters['annotation/labelsSelected'];
    },
  },
  methods: {
    editTodo(todo) {
      this.editedTodo = todo;
    },
    updateSelected() {
      this.$store.dispatch('annotation/setSelected', this.typesSelect);
    },
    updateIsShowing(label) {
      const newLabels = this.$store.state.annotation.labels.map((labelStore) => {
        const lableStoreTmp = { ...labelStore };
        if (labelStore.id === label.id) {
          lableStoreTmp.isShowing = !labelStore.isShowing;
        }
        return lableStoreTmp;
      });
      this.$store.dispatch('annotation/setLabels', newLabels);
    },
    async updateEditable(label, isEditable) {
      const newLabels = this.labels.map((labelStore) => {
        const lableStoreTmp = { ...labelStore };
        lableStoreTmp.edit = false;
        if (labelStore.id === label.id) {
          lableStoreTmp.edit = isEditable;
        }
        return lableStoreTmp;
      });
      await this.$store.dispatch('annotation/setLabels', newLabels);
      if (isEditable) {
        this.$refs[`input_${label.id}`][0].focus();
      }
    },
    handlerchosenLabel(index) {
      this.labelSelected = this.labels[index];
      if (this.labelSelected.type === 'point') {
        this.color = this.labelSelected.shape.fill;
      } else {
        this.color = this.labelSelected.shape.stroke;
      }
      this.$emit('update-label-chosen', index);
    },
    changeColor() {
      if (this.labelSelected.type === 'point') {
        this.labelSelected.shape.fill = this.color;
      } else {
        this.labelSelected.shape.stroke = this.color;
      }
      const newLabels = this.labels.map((label) => {
        const labelTmp = { ...label };
        if (labelTmp.id === this.labelSelected.id) {
          labelTmp.shape.stroke = this.color;
        }
        return labelTmp;
      });
      this.$store.dispatch('annotation/setLabels', newLabels);
    },
  },
};
</script>

<style scoped>
    .item-label {
        cursor: pointer;
    }
    .item-label:hover {
        background: rgba(0,0,0,0.04);
    }
    .item-label.chosen {
        background: #17a2b8;
        color: white;
    }
    .label-action {
        color: #CDCDCD!important;
    }
    .input-label {
      width: 100%;
    }
    .color-pick {
      width: 50px;
      height: 20px;
    }
</style>
