<template>
    <div>
        <label class="typo__label">Project</label>
        <vue-multi-select v-model="project" :options="projects" track-by="name" label="name" placeholder="Select project" :searchable="true" :allow-empty="false"
         v-on:input="changeProject">
        </vue-multi-select>
        <label class="typo__label">Status</label>
        <vue-multi-select v-model="projectStatus" :options="statusOptions" :multiple="true" track-by="name" label="name" placeholder="Select status" :searchable="true" :allow-empty="true">
        </vue-multi-select>
        <label class="typo__label">Images</label>
        <div class="form-group table-responsive list-images">
            <ul id="tool_list_image" class="col-md-12">
                <li class="item-image" v-for="img in images" :key="img.id" v-on:click="selectImage(img)"
                    :class="(imageChosen.id === img.id) ? 'active' : ''">
                    <div class="row">
                        <div class="col-md-4">
                            <img :src="img.src_url" alt="">
                        </div>
                        <div class="col-md-8">
                            <p class="title-image">{{ img.title }}</p>
                            <small>{{ TASK_STATUS_STRING[img.status] }}</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer_images">
          <ul class="pagination pagination-sm">
              <li v-if="pagination.current_page > 1" class="page-item">
                <a
                  class="page-link"
                  href="#"
                  aria-label="Previous"
                  @click.prevent="changePage(pagination.current_page - 1)"
                >
                  <span aria-hidden="true">«</span>
                </a>
              </li>
              <li
                v-for="page in pagesNumber"
                :key="page"
                v-bind:class="[ page == isActived ? 'active' : '']"
                class="page-item"
              >
                <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
              </li>
              <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                <a
                  class="page-link"
                  href="#"
                  aria-label="Next"
                  @click.prevent="changePage(pagination.current_page + 1)"
                >
                  <span aria-hidden="true">»</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
</template>

<script>
import VueMultiSelect from 'vue-multiselect';
import { WORKING_TYPE, TASK_STATUS_STRING } from '../../utilities/common';

export default {
  name: 'MenuRightComponent',
  props: ['projects', 'workingType'],
  components: {
    VueMultiSelect,
  },
  data() {
    return {
      statusOptions: [
        { id: 1, name: 'Open' },
        { id: 2, name: 'Review' },
        { id: 3, name: 'Fixing' },
        { id: 4, name: 'Close' },
      ],
      project: null,
      projectStatus: null,
      pagination: {
        from: 1,
        to: 0,
        current_page: 1,
      },
      TASK_STATUS_STRING,
    };
  },
  computed: {
    images() {
      return this.$store.getters['annotation/images'];
    },
    isActived() {
      return this.pagination.current_page;
    },
    pagesNumber() {
      if (!this.pagination.to) {
        return [];
      }
      let from = 1;
      const to = this.pagination.last_page;
      const pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from += 1;
      }
      return pagesArray;
    },
    imageChosen() {
      return this.$store.getters['annotation/imageChosen'];
    },
  },
  watch: {
    projects() {
      const projectID = parseInt(this.$route.params.projectID, 10);
      Object.keys(this.projects).forEach((key) => {
        if (this.projects[key].id === projectID) {
          this.project = { ...this.projects[key] };
          this.setImagesFromTasks();
        }
      });
    },
  },
  created() {
    this.setImagesFromTasks();
  },
  methods: {
    selectImage(imgSelect) {
      this.$emit('update-image-select', imgSelect);
      this.$store.dispatch('annotation/setScale', 1);
      this.$store.dispatch('annotation/setImgChosen', imgSelect);
      this.$store.dispatch('annotation/setLabels', imgSelect.labels);
    },
    setImagesFromTasks(page = 1) {
      const indexTask = parseInt(this.$route.params.indexTask, 10);
      const projectID = parseInt(this.$route.params.projectID, 10);
      if (this.project !== null) {
        this.$http.get(`/api/annotations/projects/${this.project.id}?page=${page}`)
          .then((res) => {
            if (this.project.id !== projectID) {
              if (this.workingType === WORKING_TYPE.ANNOTATING) {
                this.$router.push({ path: `/annotation/${this.project.id}` });
              }
              if (this.workingType === WORKING_TYPE.REVIEWING) {
                this.$router.push({ path: `/review/${this.project.id}` });
              }
            }
            const { tasks, pagination } = res.data;
            this.pagination = pagination;
            this.$store.dispatch('annotation/setImages', tasks);
            if (tasks.length > 0 && indexTask) {
              this.selectImage(tasks[indexTask]);
            } else if (tasks.length > 0 && !indexTask) {
              this.selectImage(tasks[0]);
            } else {
              this.$store.dispatch('annotation/setInitState');
            }
          });
      }
    },
    changeProject() {
      this.setImagesFromTasks();
    },
    changePage(page) {
      this.pagination.current_page = page;
      this.setImagesFromTasks(page);
    },
  },
};
</script>

<style scoped>
    .list-images {
      max-height: 400px;
    }
    .item-image {
        cursor: pointer;
    }
    .item-image:hover {
        background: rgba(0,0,0,0.04);
    }
    .item-image.active {
        background: #17a2b8;
        color: white;
    }
    ul li {
        list-style-type: none;
    }
    .item-image img {
        max-width: 50px;
        max-height: 40px;
    }
    .item-image .title-image {
        margin-bottom: -5px;
    }
    .item-image i {
        color: #17a2b8;
        font-size: 25px;
        padding-top: 8px;
    }
    .item-image.active i {
        color: white;
    }
    .footer_images {
      text-align: center;
    }
    .footer_images em {
      color: #17a2b8;
    }
</style>
