<template>
    <div>
        <v-rect
          v-for="rect in rectangles"
          v-bind:key="rect.id"
          v-bind:config="rect"
          @dragend="(e) => handleChangeLabels(e, rect)"
          @transformEnd="(e) => handleChangeLabels(e, rect)"
          >
        </v-rect>
    </div>
</template>

<script>
import { getLabelTransformerEnd } from '../../helpers/annotation';

export default {
  name: 'RectanglesComponent',
  props: ['rectangles'],
  created() {
  },
  data() {
    return {

    };
  },
  methods: {
    handleChangeLabels(e, data) {
      const labels = this.$store.getters['annotation/labels'];
      this.$store.dispatch('annotation/increaseHistoryStep');
      const labelResults = getLabelTransformerEnd(labels, data, e);
      this.$store.dispatch('annotation/setLabels', labelResults);
      const labelsTmp = labelResults.map((label) => {
        const tmp = {
          edit: label.edit,
          id: label.id,
          isShowing: label.isShowing,
          shape: { ...label.shape },
          text: label.text,
          type: label.type,
        };
        return tmp;
      });
      this.$store.dispatch('annotation/addHistory', labelsTmp);
    },
  },
};
</script>

<style scoped>

</style>
