<template>
  <div
    class="modal fade"
    id="addProjectMemberModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addProjectMemberModal"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="addProjectMemberModal">Add New Project Member</h3>
          <button
            type="button"
            @click="resetValidate"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">
                Project Name
                <code>*</code>:
              </label>
              <div class="col-sm-8 " >
                <select class="form-control" disabled>
                  <option   selected :value="project.id">{{project.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="category-key" class="col-sm-4 col-form-label">
                User
                <code>*</code>:
              </label>
              <div class="col-sm-8">
                <vue-multi-select v-if="users" v-model="userSelected" :options="users" :multiple="false"
                  track-by="id" label="email" placeholder="Select user" :searchable="true" :allow-empty="false">
                </vue-multi-select>
                <code v-html="error.user_id"></code>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            @click="resetValidate"
            id="btn-close-model-add-member"
            data-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-info btn-sm" @click="addProjectMember">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import VueMultiSelect from 'vue-multiselect';
import { showNotification } from '../../utilities/common';

export default {
  name: 'add-project-category',
  props: ['projectMembers', 'project', 'users'],
  components: {
    'vue-multi-select': VueMultiSelect,
  },
  data() {
    return {
      error: {
        user_id: null,
      },
      userSelected: null,
    };
  },
  watch: {
    userSelected() {
      if (this.userSelected !== null) {
        this.error.user_id = '';
      }
    },
  },
  methods: {
    addProjectMember() {
      if (this.userSelected === null) {
        this.error.user_id = 'Field is required';
        return;
      }
      this.$http
        .post(`/api/project-member/${this.project.id}`, { user_id: this.userSelected.id })
        .then((res) => {
          this.$emit('loadListProjectMembers');
          document.getElementById('btn-close-model-add-member').click();
          showNotification(res.data.message, 'bg-success');
        })
        .catch((err) => {
          const { status, data } = err.response;
          if (status === 422) {
            const messageError = {};
            Object.keys(data.error).forEach((key) => {
              messageError[key] = data.error[key].join('. ');
            });
            this.error = messageError;
          }
          showNotification(data.message, 'bg-danger');
        });
    },
    resetValidate() {
      this.error = {
        user_id: null,
      };
      this.userSelected = null;
    },
  },
};
</script>
