<template>
  <div class="card-body table-responsive p-0" style="max-height: 330px;">
    <table class="table table-head-fixed">
      <caption hidden>Project Member</caption>
      <thead>
        <tr>
          <th scope="col" style="width:10%">No.</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col" style="width:15%;">Action</th>
        </tr>
      </thead>
      <tbody >
        <tr v-for="(projectMember,index) in projectMembers" :key="index">
          <td>{{index+1}}</td>
          <td>{{projectMember.user.full_name}}</td>
          <td>{{projectMember.user.email}}</td>
          <td>{{projectMember.user.phone}}</td>
          <td>{{getUserRole(projectMember.user.role)}}</td>
          <td> <toggle-button
          :sync="true"
          :value="isActive(projectMember.is_active)"
          @change="onChangeEventHandler(projectMember, index)"/></td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#deleteProjectMemberModal"
              @click="handleChooseProMem(projectMember,index)"
            >
              <em class="fas fa-trash-alt"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="modal fade"
      id="deleteProjectMemberModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you delete this project member?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" @click="deletedProjectMember">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  showNotification, getUserRole, getUserStatus, isActive,
} from '../../utilities/common';

export default {
  name: 'list-project-members',
  props: ['projectMembers', 'project'],
  data() {
    return {
      fillProMem: {
        project_id: '',
        user_id: '',
        is_active: '',
        user: {
          full_name: '',
          role: '',
        },
      },
      indexProMem: '',
    };
  },
  methods: {
    getUserStatus,
    getUserRole,
    isActive,
    handleChooseProMem(data, index) {
      this.fillProMem = { ...data };
      this.indexProMem = index;
    },
    deletedProjectMember() {
      this.$http
        .delete(
          `/api/project-member/${
            this.fillProMem.project_id
          }/${
            this.fillProMem.user_id}`,
        )
        .then(() => {
          // eslint-disable-next-line no-undef
          $('#deleteProjectMemberModal').modal('hide');
          this.$delete(this.projectMembers, this.indexProMem);
          showNotification('Successfully deleted the Project member', 'bg-success');
        })
        .catch((err) => {
          const { data } = err.response;
          showNotification(data.message, 'bg-danger');
        });
    },
    onChangeEventHandler(projectMember, index) {
      const status = projectMember.is_active === 2 ? 1 : 2;
      this.$http
        .put(`/api/project-member/${this.project.id}/${projectMember.user.id}`, { is_active: status })
        .then((res) => {
          // eslint-disable-next-line no-param-reassign
          projectMember.is_active = status;
          this.$set(this.projectMembers, index, projectMember);
          showNotification(res.data.message, 'bg-success');
        });
    },
  },
};
</script>
