<template>

    <div>
        <!-- Content Header Tool -->
        <menu-top-component :workingType="workingType"></menu-top-component>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <div class="card">
                            <menu-left-component :labelChosen="labelChosen" @update-label-chosen="updateLabelChosen"></menu-left-component>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col-md-10" id="img-selected">
                        <canvas-component :labelChosen="labelChosen"
                         @update-label-chosen="updateLabelChosen"/>
                    </div>
                    <!-- <div class="col-md-2">
                      <div class="card">
                          <div class="card-body">
                              <menu-right-component :projects="projects" :workingType="workingType"/>
                          </div>
                      </div>
                    </div> -->

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /.content -->

    </div>

</template>

<script>
import MenuLeftComponent from '../components/tools/MenuLeftComponent';
// import MenuRightComponent from '../components/tools/MenuRightComponent';
import MenuTopComponent from '../components/tools/MenuTopComponent';
import CanvasComponent from '../components/tools/CanvasComponent';
import { WORKING_TYPE, WORKING_TYPE_STRING } from '../utilities/common';

export default {
  components: {
    'menu-left-component': MenuLeftComponent,
    'menu-top-component': MenuTopComponent,
    // 'menu-right-component': MenuRightComponent,
    'canvas-component': CanvasComponent,
  },
  data() {
    return {
      users: [],
      imgSelected: {
        id: null,
        url: null,
        name: null,
      },
      projects: [],
      labelChosen: null,
      workingType: 0,
    };
  },
  created() {
    this.workingType = WORKING_TYPE[WORKING_TYPE_STRING[this.$route.name]];
    const images = this.$store.getters['annotation/images'];
    const { projectID, taskID, taskStatusID } = this.$route.params;
    this.getProjects();
    if (projectID && taskID && taskStatusID && images.length === 0) {
      this.$http
        .get(`/api/tasks/${taskID}/task-status/${taskStatusID}`)
        .then((res) => {
          const { task, taskStatus } = res.data;
          this.$store.dispatch('annotation/setImgChosen', task);
          this.$store.dispatch('annotation/setTaskStatus', taskStatus);
          this.$store.dispatch('annotation/setLabels', task.labels);
        });
    }
  },
  watch: {
    $route(to, from) {
      if (to === from) return;
      this.workingType = WORKING_TYPE[WORKING_TYPE_STRING[to.name]];
    },
  },
  mounted() {
  },
  methods: {
    updateLabelChosen(index) {
      this.labelChosen = parseInt(index, 10);
    },

    getProjects() {
      // this.$http.get('/api/projects/get-all')
      //   .then((res) => {
      //     this.projects = res.data;
      //   });
      // eslint-disable-next-line no-undef
      $('body').addClass('sidebar-collapse');
    },
  },
  destroyed() {
    // eslint-disable-next-line no-undef
    $('body').removeClass('sidebar-collapse');
  },
};

</script>
<style scoped>
    #img-selected img {
        max-width: 950px;
        max-height: 500px;
    }
</style>
