 <template>
    <div class="login-box" style="margin: auto">
        <div class="login-logo mt-3">
            <a href="#"><b>ANNOTATE-TOOL</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card mt-3" >
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in</p>

                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email" required v-model="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"/>
                            </div>
                        </div>
                    </div>
                    <div style="color: red"> {{ error_email }}</div>
                    <br>
                    <div class="input-group">
                        <input type="password" class="form-control" placeholder="Password" required v-model="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div style="color: red"> {{ error_password }}</div>
                    <br>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button @click.prevent="login()" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</template>

<script>
import { validateEmail, validatePassword } from '../utilities/validate';
import { fnCommon, MSG_REQUIRED } from '../utilities/common';

export default {
  name: 'Login',
  data() {
    return {
      email: null,
      password: null,
      error_login: null,
      error_email: null,
      error_password: null,
    };
  },
  methods: {
    login() {
      if (!validateEmail(this.email)) {
        this.error_email = fnCommon.Format(MSG_REQUIRED, 'Email');
        return;
      }
      if (!validatePassword(this.password)) {
        this.error_password = fnCommon.Format(MSG_REQUIRED, 'Password');
        return;
      }
      this.$auth.login({
        params: {
          email: this.email,
          password: this.password,
        },
        success(res) {
          this.$store.dispatch('annotation/setCurrentUser', res.data.user);
        },
        error(res) {
          this.error_login = res.response.data.error;
        },
        rememberMe: true,
      });
    },
  },
};
</script>
