<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/">Home</router-link>
              </li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="card card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img
                    class="profile-user-img img-fluid img-circle"
                    src="/images/avatar.jpg"
                    alt="User profile picture"
                  />
                </div>
                <h3 class="profile-username text-center" v-html="currentUser.full_name"></h3>
              </div>
            </div>
            <!-- /.card-body -->
            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong>
                  <em class="fas fa-book mr-1"></em> Full Name
                </strong>

                <p class="text-muted" v-html="currentUser.full_name"></p>

                <hr />

                <strong>
                  <em class="fas fa-map-marker-alt mr-1"></em> Email
                </strong>

                <p class="text-muted" v-html="currentUser.email"></p>

                <hr />

                <strong>
                  <em class="fas fa-pencil-alt mr-1"></em> Phone
                </strong>

                <p class="text-muted">
                  <span class="tag tag-danger" v-html="currentUser.phone"></span>
                </p>

                <hr />

                <strong>
                  <em class="fas fa-pencil-alt mr-1"></em> Role
                </strong>

                <p class="text-muted">
                  <span class="tag tag-danger">{{getUserRole(currentUser.role)}}</span>
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <router-link to="/profile/info" class="nav-link" data-toggle="tab">Information</router-link>
                  </li>
                  <li class="nav-item">
                    <router-link
                      to="/profile/change-password"
                      class="nav-link"
                      data-toggle="tab"
                    >Change Password</router-link>
                  </li>
                </ul>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <router-view />
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  </div>
</template>
<script>
import { getUserRole } from '../utilities/common';

export default {
  data() {
    return {
      getUserRole,
    };
  },
  created() {
    if (!this.currentUser) {
      this.$store.dispatch('annotation/setCurrentUser', this.$auth.user());
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters['annotation/currentUser'];
    },
  },
};
</script>
