<template>
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Project Tasks</h3>
        <div class="card-tools">
            <button v-if="hasPermissionAdminOrPM"
            type="button"
            class="btn btn-info btn-sm"
            data-toggle="modal"
            @click="addNew"
            >
            <i class="fas fa-plus"></i> Add New
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse" >
            <i class="fas fa-minus"></i></button>
            <add-project-task
                  :project="project"
                  :users="users"
                  @loadListProjectTasks="loadListProjectTasks"
                ></add-project-task>
        </div>
        </div>
        <list-project-task
        :projectTasks="projectTasks"
        :listTaskStatusOfProject="listTaskStatusOfProject"
        :project="project"
        :hasPermissionAdminOrPM="hasPermissionAdminOrPM"
         @loadListProjectTasks="loadListProjectTasks"
        ></list-project-task>
        <div class="card-footer clearfix">
          <ul class="pagination">
            <li v-if="pagination.current_page > 1" class="page-item">
              <a
                class="page-link"
                href="#"
                aria-label="Previous"
                @click.prevent="changePage(pagination.current_page - 1)"
              >
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <li
              v-for="page in pagesNumber" :key="page"
              v-bind:class="[ page == isActived ? 'active' : '']"
              class="page-item"
            >
              <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
            </li>
            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
              <a
                class="page-link"
                href="#"
                aria-label="Next"
                @click.prevent="changePage(pagination.current_page + 1)"
              >
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </div>
    </div>
</template>
<script>
import ListProjectTask from '../components/projectTasks/ListProjectTaskComponent.vue';
import AddProjectTask from '../components/projectTasks/AddProjectTaskComponent.vue';
import { USER_ROLE_STRING } from '../utilities/common';

export default {
  props: ['projectId', 'project', 'listTaskStatusOfProject'],
  data() {
    return {
      projectTasks: [],
      isLoading: false,
      users: '',
      pagination: {
        from: 1,
        to: 0,
        current_page: 1,
      },
    };
  },
  components: {
    ListProjectTask,
    AddProjectTask,
  },
  created() {
    this.getListProjectTask(this.pagination.current_page);
  },
  computed: {
    hasPermissionAdminOrPM() {
      const currentUser = this.$store.getters['annotation/currentUser'];
      return currentUser.role === USER_ROLE_STRING.ADMIN || currentUser.role === USER_ROLE_STRING.PM;
    },
    isActived() {
      return this.pagination.current_page;
    },
    pagesNumber() {
      if (!this.pagination.to) {
        return [];
      }
      let from = 1;
      const to = this.pagination.last_page;
      const pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from += 1;
      }
      return pagesArray;
    },
  },
  methods: {
    getListProjectTask(page) {
      this.$http
        .get(`/api/projects/${this.projectId}/tasks?page=${page}`)
        .then((res) => {
          const { tasks, pagination } = res.data;
          this.projectTasks = tasks;
          this.pagination = pagination;
          this.$store.dispatch('annotation/setImages', tasks);
        });
    },
    async addNew() {
      // eslint-disable-next-line no-undef
      $('#addProjectTaskModal').modal('show');
    },
    changePage(page) {
      this.pagination.current_page = page;
      this.getListProjectTask(page);
    },
    loadListProjectTasks() {
      this.getListProjectTask(this.pagination.current_page);
    },
  },
};
</script>
