<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content" >
    <section v-if="permission === true">
    <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 style="text-transform:capitalize"> Project: {{project.name}}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <router-link to="/projects">Project</router-link>
                </li>
                <li class="breadcrumb-item active"  style="text-transform:capitalize">{{project.name}}</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12" >
                <project-flow :projectId='projectId' :project='project' ></project-flow>
            </div>
            <div class="col-lg-12" v-if="hasPermissionAdminOrPM" >
                <project-category :projectId='projectId'  :project='project'></project-category>
            </div>
            <div class="col-lg-12" v-if="hasPermissionAdminOrPM" >
                <project-attribute :projectId='projectId' :project='project'></project-attribute>
            </div>
            <div class="col-lg-12"  v-if="hasPermissionAdminOrPM">
              <project-member :projectId='projectId' :project='project'></project-member>
            </div>
            <div class="col-lg-12" >
              <project-task :projectId='projectId' :project='project' :listTaskStatusOfProject="listTaskStatusOfProject"></project-task>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
    </section>
    <error-403 v-if="permission === false"></error-403>
  </div>
</template>
<script>
import Error403 from './layouts/403';
import ProjectCategory from './ProjectCategory';
import ProjectMember from './ProjectMember';
import ProjectFlow from './ProjectFlow';
import ProjectAttribute from './ProjectAttribute';
import ProjectTask from './ProjectTask';
import { USER_ROLE_STRING, TASK_STATUS } from '../utilities/common';

export default {
  data() {
    return {
      isLoading: true,
      projectId: this.$route.params.id,
      project: '',
      permission: '',
      listTaskStatusOfProject: '',
    };
  },
  components: {
    ProjectCategory,
    ProjectMember,
    ProjectFlow,
    ProjectAttribute,
    ProjectTask,
    Error403,
  },
  created() {
    this.getProject();
  },
  watch: {
    project() {
      const flows = this.project.flow;
      const listTaskStatus = [...TASK_STATUS];
      let len = TASK_STATUS.length;
      Object.keys(flows).forEach((key) => {
        if (flows[key].order !== 1) {
          listTaskStatus.push({ id: len, status: flows[key].step_name, style: 'bg-default' });
          len += 1;
        }
      });
      listTaskStatus.push({ id: 9, status: 'Finish', style: 'bg-success' });
      this.listTaskStatusOfProject = listTaskStatus;
    },
  },
  computed: {
    hasPermissionAdminOrPM() {
      const currentUser = this.$store.getters['annotation/currentUser'];
      return currentUser.role === USER_ROLE_STRING.ADMIN || currentUser.role === USER_ROLE_STRING.PM;
    },
  },
  methods: {
    async getProject() {
      await this.$http.get(`/api/projects/${this.projectId}`)
        .then((res) => {
          this.project = res.data.project;
          this.permission = true;
        })
        .catch((err) => {
          if (err.response.status === 403) {
            this.permission = false;
          }
        });
    },
  },
};
</script>
