<template>
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Project Category</h3>

        <div class="card-tools">
            <button
            type="button"
            class="btn btn-info btn-sm"
            data-toggle="modal"
            @click="addNew"
            >
            <i class="fas fa-plus"></i> Add New
            </button>
            <button type="button" class="btn btn-tool " data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
            <add-project-category
                  :projectCategories="projectCategories"
                  :project="project"
                  @loadListProjectCategories="loadListProjectCategories"
                ></add-project-category>
        </div>
        </div>
        <list-project-category :projectCategories="projectCategories"></list-project-category>
    </div>
</template>
<script>
import ListProjectCategory from '../components/projectCategories/ListProjectCategoryComponent.vue';
import AddProjectCategory from '../components/projectCategories/AddProjectCategoryComponent.vue';

export default {
  props: ['projectId', 'project'],
  data() {
    return {
      projectCategories: [],
    };
  },
  components: {
    ListProjectCategory,
    AddProjectCategory,
  },
  created() {
    this.getListProjectCategory();
  },
  methods: {
    getListProjectCategory() {
      this.$http
        .get(`/api/projects/${this.projectId}/categories`)
        .then((res) => {
          this.projectCategories = res.data.projectCategories;
        });
    },
    addNew() {
      // eslint-disable-next-line no-undef
      $('#addProjectCategoryModal').modal('show');
    },
    loadListProjectCategories() {
      this.getListProjectCategory();
    },
  },
};
</script>
