<template>
  <div>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Project</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/">Home</router-link>
              </li>
              <li class="breadcrumb-item active">Projects</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12" v-if="isLoading">
            <div class="card">
              <div class="card-header row justify-content-between">
                <div class="card-tools col-lg-9 row">
                  <div class="col-lg-3">
                    <input
                      type="text"
                      v-model="search"
                      name="table_search"
                      class="form-control float-right addnew"
                      placeholder="Search"
                    />
                  </div>
                  <div class="col-lg-5">
                    <vue-multiselect v-model="value"  tag-placeholder="Add this as new tag" placeholder="Search or add a tag" label="status"
                    track-by="id" :options="options" :multiple="true"  :taggable="true" >
                    </vue-multiselect>
                  </div>
                </div>
                <div class="d-flex col-lg-3 justify-content-end" v-if="permission">
                  <button
                    type="button"
                    class="btn btn-info btn-sm addnew"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    <i class="fas fa-plus"></i> Add New
                  </button>
                  <add-project v-bind:projects="projects" @updateListProject="updateListProject"></add-project>
                </div>
              </div>
              <!-- /.card-header -->

              <list-project v-bind:projects="projects"></list-project>
              <!-- /.card-body -->
              <!-- card-footer -->
            </div>
            <!-- card-footer -->
            <div class="card-footer clearfix">
              <ul class="pagination">
                <li v-if="pagination.current_page > 1" class="page-item">
                  <a
                    class="page-link"
                    href="#"
                    aria-label="Previous"
                    @click.prevent="changePage(pagination.current_page - 1)"
                  >
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                <li
                  v-for="page in pagesNumber"
                  :key="page"
                  v-bind:class="[ page == isActived ? 'active' : '']"
                  class="page-item"
                >
                  <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                </li>
                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                  <a
                    class="page-link"
                    href="#"
                    aria-label="Next"
                    @click.prevent="changePage(pagination.current_page + 1)"
                  >
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-footer -->

            <!-- /.card-footer -->
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
</template>

<script>
import VueMultiselect from 'vue-multiselect/src/Multiselect';
import AddProject from '../components/projects/AddProjectComponent';
import ListProject from '../components/projects/ListProjectComponent';
import { USER_ROLE_STRING, PROJECT_STATUS } from '../utilities/common';

export default {
  data() {
    return {
      projects: [],
      isLoading: false,
      pagination: {
        from: 1,
        to: 0,
        current_page: this.$route.query.page ? this.$route.query.page : 1,
      },
      search: null,
      value: [...PROJECT_STATUS],
      options: [...PROJECT_STATUS],
    };
  },
  watch: {
    search: {
      handler(newValue, oldValue) {
        if (newValue.trim() !== oldValue.trim()) {
          this.searchProject();
        }
      },
      deep: true,
    },
    value: {
      handler() {
        this.searchProject();
      },
      deep: true,
    },
  },
  components: {
    ListProject,
    AddProject,
    VueMultiselect,
  },
  created() {
    this.getListProject(this.pagination.current_page);
  },
  computed: {
    permission() {
      const currentUser = this.$store.getters['annotation/currentUser'];
      return currentUser.role === USER_ROLE_STRING.ADMIN || currentUser.role === USER_ROLE_STRING.PM;
    },
    isActived() {
      return this.pagination.current_page;
    },
    pagesNumber() {
      if (!this.pagination.to) {
        return [];
      }
      let from = 1;
      const to = this.pagination.last_page;
      const pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from += 1;
      }
      return pagesArray;
    },
  },
  methods: {
    getListProject(page = 1, uriSearch = '') {
      this.$http.get(`/api/projects?page=${page}${uriSearch}`).then((res) => {
        this.projects = res.data.projects.data;
        this.pagination = res.data.pagination;
        this.isLoading = true;
      });
    },
    changePage(page) {
      this.pagination.current_page = page;
      this.getListProject(page);
      this.$router.push({ path: '/projects', query: { page } });
    },
    updateListProject() {
      this.getListProject();
    },
    searchProject() {
      let uriSearch = '';
      if (this.search != null && this.search.length > 0) {
        uriSearch += `&search=${this.search}`;
      }
      // eslint-disable-next-line array-callback-return
      this.value.map((item) => {
        uriSearch += `&statuses[]=${item.id}`;
      });
      this.getListProject(1, uriSearch);
    },
  },
};
</script>
<style scoped>
  .addnew {
    max-height: 42px;
    height: 42px;
  }
  .multiselect__tags {
    padding: 6px 40px 0 8px;
  }
</style>
