<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Flow</h3>
        </div>
        <div class="card-body">
          <span v-for="(flow,index) in flows" :key="index">
            <span aria-hidden="true" v-if="index !== 0">&rArr;</span>
            {{flow.step_name}}
          </span>
        </div>
    </div>
</template>
<script>
export default {
  props: ['projectId', 'project'],
  data() {
    return {
    };
  },
  computed: {
    flows() {
      return this.project.flow;
    },
  },
};
</script>
