<template>
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Project Member</h3>
        <div class="card-tools">
            <button
            type="button"
            class="btn btn-info btn-sm"
            data-toggle="modal"
            @click="addNew"
            >
            <i class="fas fa-plus"></i> Add New
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse" >
            <i class="fas fa-minus"></i></button>
            <add-project-member
                  :projectMembers="projectMembers"
                  :project="project"
                  :users="users"
                  @loadListProjectMembers="loadListProjectMembers"
                ></add-project-member>
        </div>
        </div>
        <list-project-member :projectMembers="projectMembers" :project="project"></list-project-member>
    </div>
</template>
<script>
import ListProjectMember from '../components/projectMembers/ListProjectMemberComponent.vue';
import AddProjectMember from '../components/projectMembers/AddProjectMemberComponent.vue';

export default {
  props: ['projectId', 'project'],
  data() {
    return {
      projectMembers: [],
      isLoading: false,
      users: '',
    };
  },
  components: {
    ListProjectMember,
    AddProjectMember,
  },
  created() {
    this.getListProjectMember();
  },
  methods: {
    getListProjectMember() {
      this.$http
        .get(`/api/projects/${this.projectId}/members`)
        .then((res) => {
          this.projectMembers = res.data.projectMembers;
        });
    },
    async addNew() {
      await this.$http
        .get('/api/users?all=true')
        .then((res) => {
          this.users = res.data.users;
        });
      // eslint-disable-next-line no-undef
      $('#addProjectMemberModal').modal('show');
    },
    loadListProjectMembers() {
      this.getListProjectMember();
    },
  },
};
</script>
