<template>
    <div class="card">
        <div class="card-header">
        <h3 class="card-title">Project Attribute</h3>

        <div class="card-tools">
            <button
            type="button"
            class="btn btn-info btn-sm"
            data-toggle="modal"
            @click="addNew"
            >
            <i class="fas fa-plus"></i> Add New
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
            <add-project-attribute
                  :projectAttributes="projectAttributes"
                  :project="project"
                  @loadListProjectAttributes="loadListProjectAttributes"
                ></add-project-attribute>
        </div>
        </div>
        <list-project-attribute :projectAttributes="projectAttributes"></list-project-attribute>
    </div>
</template>
<script>
import ListProjectAttribute from '../components/projectAttributes/ListProjectAttributeComponent.vue';
import AddProjectAttribute from '../components/projectAttributes/AddProjectAttributeComponent.vue';

export default {
  props: ['projectId', 'project'],
  data() {
    return {
      projectAttributes: [],
    };
  },
  components: {
    ListProjectAttribute,
    AddProjectAttribute,
  },
  created() {
    this.getListProjectAttribute();
  },
  methods: {
    getListProjectAttribute() {
      this.$http
        .get(`/api/projects/${this.projectId}/attributes`)
        .then((res) => {
          this.projectAttributes = res.data.projectAttributes;
        });
    },
    addNew() {
      // eslint-disable-next-line no-undef
      $('#addProjectAttributeModal').modal('show');
    },
    loadListProjectAttributes() {
      this.getListProjectAttribute();
    },
  },
};
</script>
