<template>
  <!-- Content Wrapper. Contains page content -->
  <div class="content">
    <!-- Content Header (Page header) -->
    <section v-if="permission === true">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 style="text-transform:capitalize">Task Detail</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item">
                    <router-link to="/projects">Project</router-link>
                  </li>
                  <li class="breadcrumb-item active"  style="text-transform:capitalize">
                    <router-link :to="{ name: 'projectDetail', params: { id: project.id }}"> {{project.name}}</router-link>
                  </li>
                   <li class="breadcrumb-item active"  style="text-transform:capitalize">
                   Task Detail
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>
         <div class="content" v-if="taskStatus && working_type">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12" >
                <div class="card">
                  <div class="card-header row justify-content-between">
                    <h3 class="card-title">Task Status</h3>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col" style="width:10%">ID</th>
                          <th scope="col">User</th>
                          <th scope="col">Start Time</th>
                          <th scope="col">End Time</th>
                          <th scope="col">Time Working(Second)</th>
                          <th scope="col">Working Type</th>
                          <th scope="col" style="width:15%;" >Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(recordTaskStatus,index) in taskStatus"  :key="index">
                          <td>{{recordTaskStatus.id}}</td>
                          <td>{{recordTaskStatus.user.full_name}}</td>
                          <td>{{recordTaskStatus.start_time}}</td>
                          <td>{{recordTaskStatus.end_time}}</td>
                           <td>{{getSecondsTimeWorking(recordTaskStatus.time_working)}}</td>
                          <td>{{index >= countFlow ? "Fixing" : working_type[recordTaskStatus.user_id].step_name }}</td>
                          <td>
                            <select class="form-control" v-model="recordTaskStatus.status" :disabled="!isDisable(recordTaskStatus)" @change="handleChangeOption(index, recordTaskStatus, $event)" >
                              <option v-for="(status,index) in statusOfTaskStatus" :key="index" :value="index" >{{status}}</option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="taskStatus" class="row">
              <div class="col-lg-12">
                 <div class="card direct-chat direct-chat-primary">
                  <div class="card-header ui-sortable-handle">
                    <h3 class="card-title">Direct Comment</h3>

                    <div class="card-tools">
                      <span v-if="comments" data-toggle="tooltip" title="3 New Messages" class="badge badge-primary">{{ comments.length }}</span>
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <em class="fas fa-minus"></em>
                      </button>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages-comment">
                      <!-- Message. Default to the left -->
                      <div class="direct-chat-msg" v-for="comment in comments" v-bind:key="comment.id">
                        <div class="direct-chat-infos clearfix">
                          <span class="direct-chat-name float-left">{{ comment.user.full_name }}</span>
                          <span class="direct-chat-timestamp float-right">{{ comment.created_at }}</span>
                        </div>
                        <!-- /.direct-chat-infos -->
                        <img class="direct-chat-img" src="/images/user-icon.png" alt="message user image">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                          {{ comment.comment }}
                        </div>
                        <!-- /.direct-chat-text -->
                      </div>
                      <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <div class="input-group">
                      <input type="text" v-model="messageComment" @keyup.enter.exact="addComment" name="message" placeholder="Type Message ..." class="form-control">
                      <span class="input-group-append">
                        <button type="button" class="btn btn-info" @click="addComment()">Send</button>
                      </span>
                    </div>
                  </div>
                  <!-- /.card-footer-->
                </div>
              </div>
              </div>
          </div>
          <!-- /.container-fluid -->
        </div>
    </section>
    <error-403 v-if="permission === false"></error-403>
  </div>
</template>
<script>
import _ from 'lodash';
import Error403 from './layouts/403';
import {
  STATUS_OS_TASK_STATUS,
  TASK_STATUS_DEFAULT,
  showNotification,
  getSecondsTimeWorking,
} from '../utilities/common';

export default {
  components: {
    Error403,
  },
  data() {
    return {
      taskID: this.$route.params.taskID,
      taskStatus: null,
      project: [],
      working_type: null,
      countActive: 0,
      statusOfTaskStatus: STATUS_OS_TASK_STATUS,
      comments: [],
      messageComment: '',
      taskStatusActive: {},
      countFlow: '',
      permission: '',
    };
  },
  created() {
    this.getTaskStatus();
    this.getCommentInTask();
  },
  computed: {
    currentUser() {
      return this.$store.getters['annotation/currentUser'];
    },
  },
  methods: {
    getSecondsTimeWorking,
    async getTaskStatus() {
      await this.$http.get(`/api/projects/${this.$route.params.projectID}`)
        .then((res) => {
          this.project = res.data.project;
          this.countFlow = this.project.flow.length;
          this.permission = true;
        })
        .catch(() => {
          this.permission = false;
        });

      await this.$http.get(`/api/tasks/${this.taskID}/task-status`)
        .then((res) => {
          this.taskStatus = res.data.taskStatus;
          this.taskStatusActive = res.data.taskStatus.filter((item) => item.is_active === 1);
          this.countActive = this.taskStatusActive.length;
        });
      const userOfTask = _.uniqBy(this.taskStatus, 'user_id').map((status) => status.user_id);
      this.working_type = _.zipObject(userOfTask, this.project.flow);
    },
    isDisable(taskStatus) {
      if (this.countActive >= 2) {
        return this.currentUser.id === taskStatus.user_id && taskStatus.is_active === 1;
      }
      return taskStatus.is_active === 1 && this.currentUser.id === taskStatus.user_id;
    },
    handleChangeOption(index, data, event) {
      const valueSelected = event.target.value;
      const params = {
        status: valueSelected,
      };
      if (this.countActive === 2) {
        const recordUserReview = this.taskStatusActive.shift();
        if (this.working_type[recordUserReview.user_id].order === 2) {
          params.status_task = TASK_STATUS_DEFAULT.REVIEW_FIRST;
        } else if (this.working_type[recordUserReview.user_id].order === 3) {
          params.status_task = TASK_STATUS_DEFAULT.REVIEW_SECOND;
        } else {
          params.status_task = TASK_STATUS_DEFAULT.REVIEW_THIRD;
        }
      }
      this.$http.put(`/api/task-status/${data.id}`, params)
        .then((res) => {
          showNotification(res.data.message, 'bg-success');
          this.getTaskStatus();
        });
    },
    getCommentInTask() {
      this.$http.get(`/api/review-comment/${this.taskID}`)
        .then((res) => {
          this.comments = res.data;
        });
    },
    addComment() {
      if (this.messageComment === '') return;
      const currentUser = this.$store.getters['annotation/currentUser'];
      const params = {
        user_id: currentUser.id,
        task_id: this.taskStatus[0].task_id,
        comment: this.messageComment,
      };
      this.$http.post('/api/review-comment', params)
        .then((res) => {
          const commentTmp = res.data;
          commentTmp.user = currentUser;
          this.comments.push(commentTmp);
          this.messageComment = '';
        });
    },
  },
};
</script>
<style scoped>
  table,
  thead,
  tr,
  tbody,
  th,
  td {
    text-align: center;
  }
  .direct-chat-messages-comment {
    transform: translate(0, 0);
    max-height: 350px;
    overflow: auto;
    padding: 10px;
  }
</style>
