<template>
  <div>
    <!-- Content Header (Page header) -->

    <!-- /.content-header -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Users</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <router-link to="/">Home</router-link>
              </li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card" v-if="isLoading">
              <div class="card-header row justify-content-between">
                <div class="card-tools col-lg-3 input-group input-group-sm" >
                    <input
                      type="text"
                      name="table_search"
                      class="form-control float-right"
                      placeholder="Search"
                      v-model="search"
                    />

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                </div>
                <div class="d-flex col-lg-9 justify-content-end">
                  <button
                    type="button"
                    class="btn btn-info btn-sm"
                    data-toggle="modal"
                    data-target="#exampleModal"
                  >
                    <i class="fas fa-plus"></i> Add New
                  </button>
                </div>

                <add-user v-bind:users="users" @loadListUsers="loadListUsers"></add-user>
              </div>
              <!-- /.card-header -->

              <list-user v-bind:users="users" @loadListUsers="loadListUsers" ></list-user>
              <!-- /.card-body -->
              <!-- card-footer -->
              <div class="card-footer clearfix">
                <ul class="pagination">
                  <li v-if="pagination.current_page > 1" class="page-item">
                    <a
                      class="page-link"
                      href="#"
                      aria-label="Previous"
                      @click.prevent="changePage(pagination.current_page - 1)"
                    >
                      <span aria-hidden="true">«</span>
                    </a>
                  </li>
                  <li
                    v-for="page in pagesNumber" :key="page"
                    v-bind:class="[ page == isActived ? 'active' : '']"
                    class="page-item"
                  >
                    <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                  </li>
                  <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                    <a
                      class="page-link"
                      href="#"
                      aria-label="Next"
                      @click.prevent="changePage(pagination.current_page + 1)"
                    >
                      <span aria-hidden="true">»</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /.card-footer -->
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
</template>

<script>
import ListUser from '../components/users/ListUserComponent.vue';
import AddUser from '../components/users/AddUserComponent.vue';

export default {
  data() {
    return {
      users: [],
      isLoading: false,
      pagination: {
        from: 1,
        to: 0,
        current_page: this.$route.query.page ? this.$route.query.page : 1,
      },
      search: null,
    };
  },
  watch: {
    search: {
      handler(newValue, oldValue) {
        if (newValue.trim() !== oldValue.trim()) {
          this.getListUsers(1, this.search);
        }
      },
      deep: true,
    },
  },
  components: {
    ListUser,
    AddUser,
  },
  created() {
    this.getListUsers(this.pagination.current_page);
  },
  mounted() {},
  computed: {
    isActived() {
      return this.pagination.current_page;
    },
    pagesNumber() {
      if (!this.pagination.to) {
        return [];
      }
      let from = 1;
      const to = this.pagination.last_page;
      const pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from += 1;
      }
      return pagesArray;
    },
  },
  methods: {
    getListUsers(page, search = '') {
      let uri = `/api/users?page=${page}`;
      if (search !== '') {
        uri += `&search=${search}`;
      }
      this.$http
        .get(uri)
        .then((res) => {
          this.users = res.data.users.data;
          this.isLoading = true;
          this.pagination = res.data.pagination;
        });
    },
    updateListUser(data) {
      this.users = data;
    },
    changePage(page) {
      this.pagination.current_page = page;
      this.getListUsers(page);
      this.$router.push({ path: '/users', query: { page } });
    },
    loadListUsers() {
      this.changePage(1);
    },
  },
};
</script>
