<template>
  <div
    class="modal fade"
    id="addProjectTaskModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addProjectTaskModal"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="addProjectTaskModal">Add New Task</h3>
          <button
            type="button"
            @click="resetValidate"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">
                Project Name
                <code>*</code>:
              </label>
              <div class="col-sm-8 " >
                <select class="form-control" disabled>
                  <option   selected :value="project.id">{{project.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="title" class="col-sm-4 col-form-label">
                Title
                <code>*</code>:
              </label>
              <div class="col-sm-8">
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  v-model="$v.projectTask.title.$model"
                />
                <div v-if="$v.projectTask.title.$error">
                  <code
                    class="error"
                    v-if="!$v.projectTask.title.required"
                  >Field is required</code>
                </div>
                <code v-html="error.title"></code>
              </div>
            </div>
            <div class="form-group row">
              <label for="image" class="col-sm-4 col-form-label">
                Image
                <code>*</code>:
              </label>
              <div class="col-sm-8">
                <div class="form-group">
                    <div class="custom-file">
                      <input type="file" ref="file" @change="handleFileUpload()" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">{{ projectTask.file.name ? projectTask.file.name: 'Choose file'}}</label>
                      <img class="img-selected" :src="url"/>
                    </div>
                </div>
                <div v-if="$v.projectTask.file.$error">
                  <code
                    class="error"
                    v-if="!$v.projectTask.file.required"
                  >Field is required</code>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            @click="resetValidate"
            id="btn-close-model-add-task"
            data-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-info btn-sm" @click="addProjectTask">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required } from 'vuelidate/lib/validators';
import { showNotification } from '../../utilities/common';

export default {
  name: 'add-project-task',
  props: ['project'],
  data() {
    return {
      projectTask: {
        title: '',
        file: '',
      },
      error: {
        user_id: null,
        src_url: null,
      },
      submitStatus: null,
      url: null,
    };
  },
  validations: {
    projectTask: {
      title: {
        required,
      },
      file: {
        required,
      },
    },
  },
  methods: {
    addProjectTask() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        this.submitStatus = 'OK';
        this.$v.$reset();
        const formData = new FormData();
        formData.append('file', this.projectTask.file);
        formData.append('title', this.projectTask.title);
        this.$http
          .post(`/api/tasks/${this.project.id}`, formData, {
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
            },
          })
          .then((res) => {
            this.$emit('loadListProjectTasks');
            document.getElementById('btn-close-model-add-task').click();
            this.url = '';
            this.projectTask.file = '';
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;
            if (status === 422) {
              const messageError = {};
              Object.keys(data.error).forEach((key) => {
                messageError[key] = data.error[key].join('. ');
              });
              this.error = messageError;
            }
            showNotification(data.message, 'bg-danger');
          });
      }
    },
    resetValidate() {
      const value = {};
      Object.keys(this.projectTask).forEach((index) => {
        value[index] = '';
      });
      this.projectTask = value;
      this.error = {};
      this.url = null;
      this.projectTask.file = '';
      this.$refs.file.value = null;
      this.$v.$reset();
    },
    handleFileUpload() {
      // eslint-disable-next-line prefer-destructuring
      this.projectTask.file = this.$refs.file.files[0];
      this.url = URL.createObjectURL(this.projectTask.file);
    },
  },
};
</script>
<style scoped>
  .img-selected {
    padding-top: 10px;
    max-width: 100px;
    max-height: 100px;
  }
</style>
