<template>
  <div
    class="modal fade"
    id="editProjectTaskModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Update Project Task</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="resetInput">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" v-if="projectTaskSelected">
          <form>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="name-project" class="col-form-label">
                  Title
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" v-model="$v.projectTaskSelected.title.$model"  />
                <div v-if="$v.projectTaskSelected.title.$error">
                  <code class="error" v-if="!$v.projectTaskSelected.title.required">
                    Field is required.
                  </code>
                </div>
                 <code v-html="error.title"></code>
              </div>
              <div class="col-lg-6">
                <label for="status" class="col-form-label">
                  Image
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" id="src-url" disabled v-model="projectTaskSelected.src_url" />
                <p>
                  <code v-html="error.status"></code>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="name-project" class="col-form-label">
                  Assignee:
                </label>
                  <vue-multi-select v-if="projectTaskSelected && membersOfProject.length && !isDisabled"
                    v-model="projectTaskSelected.user_id" :options="membersOfProject" :multiple="false"
                    track-by="user_id" label="email" placeholder="Select user" :searchable="true" :allow-empty="false">
                    <template slot="singleLabel" slot-scope="props">
                      <div> {{ props.option.user ? props.option.user.email: '' }}</div>
                    </template>
                    <template slot="option" slot-scope="props">
                      <div> {{ props.option.user.email }}</div>
                    </template>
                  </vue-multi-select>
                 <select v-if="isDisabled" class="form-control" v-model="projectTaskSelected.user_id" id="assignee" :disabled="isDisabled" >
                  <option v-for="(member,index) in membersOfProject" :key="index" :value="member.user_id">{{ member.user.email }}</option>
                </select>
                <p>
                  <code v-html="error.user_id"></code>
                </p>
              </div>
               <div class="col-lg-6">
                <label for="name-project" class="col-form-label">
                  Status:
                </label>
                <select class="form-control"   id="status" v-model="projectTaskSelected.status"  disabled>
                  <option v-for="(status,index) in statusOfTask" :value="status.id" :key="index">{{status.status}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6" v-for="(flow,index) in flowsOfProjectId" :key="index">
                <label for="name-project" class="col-form-label">
                  {{flow.step_name}}:
                </label>
                  <vue-multi-select v-if="projectTaskSelected.reviewersSelected && membersOfProject && !isDisabled"
                    v-model="projectTaskSelected.reviewersSelected[index]" :options="membersOfProject" :multiple="false"
                    track-by="user_id" label="user_id" placeholder="Select user" :searchable="true" :allow-empty="false">
                  <template slot="singleLabel" slot-scope="props">
                    <div> {{ props.option.user ? props.option.user.email: '' }}</div>
                  </template>
                  <template slot="option" slot-scope="props">
                    <div> {{ props.option.user.email }}</div>
                  </template>
                </vue-multi-select>
                <select v-if="isDisabled" class="form-control" v-model="projectTaskSelected.reviewersSelected[index]" id="step_name" :disabled="isDisabled" >
                  <option v-for="(member,index) in membersOfProject" :key="index" :value="member.user_id">{{ member.user.email }}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="start-time-project" class="col-form-label">
                  Start Time<code>*</code>:
                </label>
                 <date-picker
                 :disabled="isDisabled"
                  v-model="projectTaskSelected.start_time"
                  value-type="format"
                  input-class="form-control"
                  style="width: 100%"
                  :popup-style="{'z-index':1060}"
                  :disabled-date="notBeforeToday"
                ></date-picker>
                <div v-if="$v.projectTaskSelected.start_time.$error">
                  <code class="error" v-if="!$v.projectTaskSelected.start_time.required" >
                    Field is required.
                  </code>
                </div>
                 <code v-html="error.start_time"></code>
              </div>
              <div class="col-lg-6">
                <label for="end-at-project" class="col-form-label">
                  End Time<code>*</code>:
                </label>
                <date-picker
                  :disabled="isDisabled"
                  v-model="projectTaskSelected.end_time"
                  value-type="format"
                  input-class="form-control"
                  style="width: 100%"
                  :popup-style="{'z-index':1060}"
                  :disabled-date="notBeforeToday"
                ></date-picker>
                <div v-if="$v.projectTaskSelected.end_time.$error">
                  <code class="error" v-if="!$v.projectTaskSelected.end_time.required" >
                    Field is required.
                  </code>
                </div>
                <code v-html="error.end_time"></code>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            id="btn-close"
            data-dismiss="modal"
            @click="resetInput"
          >Close</button>
          <button
            type="button"
            class="btn btn-info btn-sm"
             @click="updateTask()"
          >Update</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DatePicker from 'vue2-datepicker';
import VueMultiSelect from 'vue-multiselect';
import 'vue2-datepicker/index.css';
import { required } from 'vuelidate/lib/validators';
import _ from 'lodash';
import { showNotification, formatDate } from '../../utilities/common';

const today = new Date();
today.setHours(0, 0, 0, 0);
export default {
  name: 'edit-project-task',
  props: ['membersOfProject', 'task', 'projectTaskSelected', 'statusOfTask', 'project'],
  components: {
    'date-picker': DatePicker,
    'vue-multi-select': VueMultiSelect,
  },
  data() {
    return {
      error: {},
      users: [],
    };
  },
  validations: {
    projectTaskSelected: {
      start_time: {
        required,
      },
      end_time: {
        required,
      },
      title: {
        required,
      },
    },
  },
  watch: {
  },
  computed: {
    isDisabled() {
      return this.task.status >= 1;
    },
    flowsOfProjectId() {
      return _.tail(this.project.flow);
    },
    imageChosen() {
      return this.$store.getters['annotation/imageChosen'];
    },
  },
  methods: {
    notBeforeToday(date) {
      return date < today;
    },
    resetInput() {
      this.$v.$reset();
    },
    updateTask() {
      if (this.projectTaskSelected.user_id === ''
        || this.projectTaskSelected.reviewersSelected[0] === '') {
        return;
      }
      if (this.flowsOfProjectId.length > 1) {
        for (let index = 1; index < this.flowsOfProjectId.length; index += 1) {
          const element = this.projectTaskSelected.reviewersSelected[index];
          if (element === '') return;
        }
      }
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.projectTaskSelected.start_time = formatDate(this.projectTaskSelected.start_time) === 'Invalid date' ? '' : formatDate(this.projectTaskSelected.start_time);
        this.projectTaskSelected.end_time = formatDate(this.projectTaskSelected.end_time) === 'Invalid date' ? '' : formatDate(this.projectTaskSelected.end_time);
        this.projectTaskSelected.user_id = this.projectTaskSelected.user_id.user_id;
        this.projectTaskSelected.reviewersSelected = this.projectTaskSelected.reviewersSelected.map((review) => review.user_id);
        if (this.projectTaskSelected.start_time <= this.projectTaskSelected.end_time) {
          this.$http
            .put(`/api/tasks/${this.task.project_id}/${this.task.id}`, this.projectTaskSelected)
            .then((res) => {
              this.$emit('loadListProjectTasks');
              // eslint-disable-next-line no-undef
              $('#editProjectTaskModal').modal('hide');
              showNotification(res.data.message, 'bg-success');
            })
            .catch((err) => {
              const { status, dataRespone } = err.response;
              if (status === 422) {
                const mesageError = {};
                Object.keys(dataRespone.error).forEach((key) => {
                  mesageError[key] = dataRespone.error[key].join('. ');
                });
                this.error = mesageError;
              }
              showNotification('Edit Task failed', 'bg-danger');
            });
        } else {
          showNotification(
            'Start date cannot be greater than end date',
            'bg-danger',
          );
        }
      }
    },
  },
};
</script>
