<template>
  <div class="card-body table-responsive p-0" style="max-height: 700px;" v-if="projectTasks">
    <table class="table table-head-fixed">
      <caption hidden>Project Task</caption>
      <thead>
        <tr>
          <th scope="col" style="width:5%">No.</th>
          <th scope="col">Title</th>
          <th scope="col">Image</th>
          <th scope="col">Assignee</th>
          <th scope="col">Total Time(Second)</th>
          <th scope="col">Status</th>
          <th scope="col" style="width:15%;" v-if="hasPermissionAdminOrPM">Action</th>
        </tr>
      </thead>
         <tr v-for="(projectTask,index) in projectTasks" :key="index">
          <td>{{index + 1}}</td>
          <td>
            <router-link :to="{ name: 'taskDetail', params: { taskID: projectTask.id, projectID:project.id  }}">
              <p>{{projectTask.title}}</p>
            </router-link>
          </td>
          <td>
            <div @click="redirectImageTask(projectTask)" class="img-task">
              <p>
              <span v-html="handleUrlSrc(projectTask.src_url)"></span>
              </p>
            </div>
          </td>
          <td v-html="getUserByStatus(projectTask)"></td>
          <td>{{sumTotalTime(projectTask)}}</td>
          <td>
            <span
              class="badge p-2"
              :class="getStatus(projectTask.status).style"
            >{{getStatus(projectTask.status).status}}
            </span>
            </td>
           <td v-if="hasPermissionAdminOrPM">
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-toggle="modal"
              data-target="#editProjectTaskModal"
              @click="handleEditTask(projectTask, index)"
            >
              <em class="far fa-edit"></em>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              data-target="#deleteTaskModal"
              @click="handleChooseTask(projectTask, index)"
            >
              <em class="fas fa-trash-alt"></em>
            </button>
          </td>
        </tr>
       <tbody >
      </tbody>
    </table>
     <edit-project-task v-if="hasPermissionAdminOrPM"
     :membersOfProject="membersOfProject" :task="task"
     :projectTaskSelected="projectTaskSelected" @loadListProjectTasks="$emit('loadListProjectTasks')" :statusOfTask="listTaskStatusOfProject"
     :project="project"
     ></edit-project-task>
     <div
      v-if="hasPermissionAdminOrPM"
      class="modal fade"
      id="deleteTaskModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you delete this task?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" @click="deletedTask">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import _ from 'lodash';
import {
  sumTotalTime, getUserByStatus, showNotification, STATUS_TASK_STATUS, TASK_STATUS_DEFAULT,
} from '../../utilities/common';
import EditProjectTask from './EditProjectTaskComponent';

export default {
  props: ['projectTasks', 'hasPermissionAdminOrPM', 'project', 'listTaskStatusOfProject'],
  name: 'list-project-task',
  components: {
    EditProjectTask,
  },
  data() {
    return {
      membersOfProject: [],
      task: {},
      indexTask: '',
      projectTaskSelected: null,
    };
  },
  methods: {
    sumTotalTime,
    getUserByStatus,
    handleChooseTask(data) {
      this.task = { ...data };
    },
    getStatus(id) {
      let result;
      Object.keys(this.listTaskStatusOfProject).forEach((status) => {
        if (this.listTaskStatusOfProject[status].id === id) {
          result = this.listTaskStatusOfProject[status];
        }
      });
      return result;
    },
    loadAPI(data) {
      this.$http
        .get(`/api/projects/${this.task.project_id}/members`)
        .then((res) => {
          this.membersOfProject = res.data.projectMembers;
        });
      this.$http
        .get(`/api/task-status/${data.id}`)
        .then((res) => {
          const { taskStatus } = res.data;
          if (taskStatus.length === 0) {
            this.projectTaskSelected = {
              user_id: '',
              start_time: '',
              end_time: '',
              assignee: '',
              reviewersSelected: this.getDefaultReviews(),
              title: data.title,
              src_url: data.src_url,
              status: data.status,
            };
          } else {
            const lengthReviewersOfTask = _.tail(this.project.flow).length;
            const reviewersOfTaskSelected = [];
            if (lengthReviewersOfTask > 0) {
              for (let i = 1; i <= lengthReviewersOfTask; i += 1) {
                reviewersOfTaskSelected.push(taskStatus[i].user_id);
              }
            }
            this.projectTaskSelected = {
              user_id: taskStatus[0].user_id,
              start_time: taskStatus[0].start_time,
              end_time: taskStatus[0].end_time,
              reviewersSelected: reviewersOfTaskSelected,
              title: data.title,
              src_url: data.src_url,
              status: data.status,
            };
          }
          // eslint-disable-next-line no-undef
          $('#editProjectTaskModal').modal('show');
        });
    },
    getDefaultReviews() {
      const lengthReviewersOfTask = _.tail(this.project.flow).length;
      const reviews = [];
      for (let i = 1; i <= lengthReviewersOfTask; i += 1) {
        reviews.push('');
      }
      return reviews;
    },
    deletedTask() {
      this.$http
        .delete(`/api/tasks/${this.task.id}`)
        .then((res) => {
          // eslint-disable-next-line no-undef
          $('#deleteTaskModal').modal('hide');
          showNotification(res.data.message, 'bg-success');
          this.task = {};
          this.$emit('loadListProjectTasks');
        })
        .catch((err) => {
          showNotification(err.response.message, 'bg-danger');
        });
    },
    async handleEditTask(data, index) {
      this.task = { ...data };
      this.indexTask = index;
      await this.loadAPI(data);
    },
    redirectImageTask(projectTask) {
      const userInTasks = projectTask.task_status_with_user;
      if (userInTasks.length === 0) return;
      const currentUser = this.$store.getters['annotation/currentUser'];
      this.$store.dispatch('annotation/setImgChosen', projectTask);
      this.$store.dispatch('annotation/setLabels', projectTask.labels);
      if (currentUser.id === userInTasks[0].user_id && userInTasks[0].status !== STATUS_TASK_STATUS.CLOSE) {
        this.$store.dispatch('annotation/setTaskStatus', userInTasks[0]);
        this.$router.push({ name: 'annotation', params: { projectID: projectTask.project_id, taskID: projectTask.id, taskStatusID: userInTasks[0].id } });
        return;
      }
      for (let index = 1; index < userInTasks.length; index += 1) {
        const taskStatus = userInTasks[index];
        if (currentUser.id === taskStatus.user_id && projectTask.status === TASK_STATUS_DEFAULT.FIXING && currentUser.id === userInTasks[0].user_id) {
          this.$store.dispatch('annotation/setTaskStatus', taskStatus);
          this.$router.push({ name: 'annotation', params: { projectID: projectTask.project_id, taskID: projectTask.id, taskStatusID: taskStatus.id } });
          return;
        }
        if (currentUser.id === taskStatus.user_id && projectTask.status !== TASK_STATUS_DEFAULT.FIXING) {
          this.$store.dispatch('annotation/setTaskStatus', taskStatus);
          this.$router.push({ name: 'review', params: { projectID: projectTask.project_id, taskID: projectTask.id, taskStatusID: taskStatus.id } });
          return;
        }
      }
    },
    handleUrlSrc(data) {
      return data.split('/').pop();
    },
  },
};
</script>
<style scoped>
  table,
  thead,
  tr,
  tbody,
  th,
  td {
    text-align: center;
  }
  .img-task {
    cursor: pointer;
    color: blue;
  }
</style>
