<template>
    <div>
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>403 Forbidden</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <router-link tag="a" to="/">
                  Home
                  </router-link>
                </li>
                <li class="breadcrumb-item active">403 Forbidden</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="error-page">
          <h2 class="headline text-warning"> 403</h2>
          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> You don't have permission to access. </h3>
            <p>
              We could not find the page you were looking for.
              Meanwhile, you may
              <router-link tag="a" to="/"
              >
                return to dashboard
              </router-link>
            </p>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
export default {
  name: 'Error403',
};
</script>

<style scoped>

</style>
