<template>
  <!-- Main Footer -->
  <footer class="main-footer bg-dark">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">HBLab Company</div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 Annotation Tool</strong>
    .
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style scoped>
</style>
