<template>
    <nav class="main-header navbar navbar-expand navbar-dark navbar-gray-dark border-bottom-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><em class="fas fa-bars"></em></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <span><em class="fa fa-user-circle mr-2"></em> {{ currentUser['full_name'] }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm-right dropdown-menu-right">
                    <router-link to="/profile/info" class="dropdown-item">
                        <em class="fa fa-user-circle mr-2"></em> Profile
                    </router-link>
                    <router-link to="/profile/change-password" class="dropdown-item">
                        <em class="fa fa-user-circle mr-2"></em> Change Password
                    </router-link>
                    <div class="dropdown-divider"></div>
                    <a href="#" @click="$auth.logout()" class="dropdown-item">
                        <em class="fa fa-power-off mr-2"></em> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
  name: 'Navbar',
  created() {
    if (!this.currentUser) {
      this.$store.dispatch('annotation/setCurrentUser', this.$auth.user());
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters['annotation/currentUser'];
    },
  },
};
</script>

<style scoped>

</style>
