<template>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img
        src="/images/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: .8"
      />
      <span class="brand-text font-weight-light">Annotation Tool</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/images/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a class="d-block" href="/profile/info">{{ currentUser['full_name'] }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library-->

          <li class="nav-item">
            <router-link tag="a" to="/dashboard" class="nav-link">
              <em class="nav-icon fas fa-tachometer-alt"></em>
              <p>Dashboard</p>
            </router-link>
          </li>
          <li class="nav-item">
              <router-link tag="a" to="/projects" class="nav-link">
                  <em class="nav-icon fas fa-briefcase"></em>
                  <p v-if="isAdmin">Projects</p>
                  <p v-if="!isAdmin">My Projects</p>
              </router-link>
          </li>
          <li class="nav-item" v-if="isAdmin">
            <router-link tag="a" to="/users" class="nav-link">
              <em class="nav-icon fas fa-users"></em>
              <p>Users</p>
            </router-link>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { USER_ROLE_STRING } from '../../utilities/common';

export default {
  name: 'Sidebar',
  created() {
    if (!this.currentUser) {
      this.$store.dispatch('annotation/setCurrentUser', this.$auth.user());
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters['annotation/currentUser'];
    },
    isAdmin() {
      return this.currentUser.role === USER_ROLE_STRING.ADMIN;
    },
  },
  data() {
    return {
    };
  },
};
</script>

<style scoped>
</style>
