<template>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Add Project</h3>
          <button
            type="button"
            @click="resetValidate"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="name-project" class="col-form-label">
                  Project Name
                  <code>*</code>:
                </label>
                <input
                  type="text"
                  class="form-control"
                  v-model="$v.project.name.$model"
                />
                <div v-if="$v.project.name.$error">
                  <code class="error" v-if="!$v.project.name.required" v-html="messageValidate.required">
                  </code>
                  <code class="error" v-if="!$v.project.name.maxLength" v-html="messageValidate.maxLength">
                  </code>
                </div>
                <div v-if="error.name">
                  <div v-for="(err, index) in error.name" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="key-project" class="col-form-label">
                  Project Key
                  <code>*</code>:
                </label>
                <input
                  type="text"
                  class="form-control"
                  v-model="$v.project.key.$model"
                />
                <div v-if="$v.project.key.$error">
                  <code class="error" v-if="!$v.project.key.required" v-html="messageValidate.required"></code>
                  <code class="error" v-if="!$v.project.key.maxLength" v-html="messageValidate.maxLength">
                  </code>
                  <code class="error" v-if="!$v.project.key.regexKey" v-html="messageValidate.alpha"></code>
                </div>
                <div v-if="error.key">
                  <div v-for="(err, index) in error.key" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="start-time-project" class="col-form-label">
                  Start Time
                  <code>*</code>:
                </label>
                <br />
                <date-picker
                  v-model="$v.project.start_at.$model"
                  value-type="format"
                  input-class="form-control"
                  style="width: 100%"
                  :popup-style="{'z-index':1060}"
                  :disabled-date="notBeforeToday"
                ></date-picker>
                <div v-if="$v.project.start_at.$error">
                  <code class="error" v-if="!$v.project.start_at.required" v-html="messageValidate.required">
                  </code>
                </div>
                <div v-if="error.start_at">
                  <div v-for="(err,index) in error.start_at" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="end-at-project" class="col-form-label">
                  End Time
                  <code>*</code>:
                </label>
                <br />
                <date-picker
                  v-model="$v.project.end_at.$model"
                  value-type="format"
                  input-class="form-control"
                  style="width: 100%"
                  :popup-style="{'z-index':1060}"
                  :disabled-date="notBeforeToday"
                ></date-picker>
                <div v-if="$v.project.end_at.$error">
                  <code class="error" v-if="!$v.project.end_at.required" v-html="messageValidate.required">
                  </code>
                </div>
                <div v-if="error.end_at">
                  <div v-for="(err,index) in error.end_at" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="name-project" class="col-form-label">
                  Flows
                  <code>*</code>:
                </label>
                <div v-for="(flow,index) in project.flows" :key="index" class="row">
                  <input
                    type="text"
                    class="form-control col-lg-9 m-1"
                    v-model="flow.name"
                    :key="index"
                    style="float:left"
                    :disabled="index === 0"
                  />
                  <span class="col-lg-2" style="line-height:45px;">
                    <i v-show="index !== 0" class="fas fa-minus-circle " style="color:red" @click="remove(index)"></i>
                    <i v-show="index == project.flows.length-1" class="fas fa-plus-circle " style="color:green"  @click="add()"></i>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="note-project" class="col-form-label">Note</label>
                <textarea class="form-control" v-model="project.note" id="note-project"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            @click="resetValidate"
            id="btn-close"
            data-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-info btn-sm" @click="addUser">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import { required, maxLength, helpers } from 'vuelidate/lib/validators';
import { showNotification } from '../../utilities/common';
import { messageValidate } from '../../utilities/validate';

const today = new Date();
today.setHours(0, 0, 0, 0);
const regexKey = helpers.regex('regexKey', /^[A-Z0-9_.-]*$/);
export default {
  name: 'add-project',
  props: ['projects'],
  data() {
    return {
      project: {
        name: null,
        key: null,
        start_at: null,
        end_at: null,
        note: null,
        flows: [{
          name: 'Annotating',
        },
        {
          name: 'Review 1',
        }],
      },
      error: {
        name: null,
        key: null,
        start_at: null,
        end_at: null,
        note: null,
      },
      submitStatus: null,
      messageValidate,
    };
  },
  validations: {
    project: {
      name: {
        required,
        maxLength: maxLength(127),
      },
      key: {
        required,
        maxLength: maxLength(127),
        regexKey,
      },
      start_at: {
        required,
      },
      end_at: {
        required,
      },
    },
  },
  components: {
    'date-picker': DatePicker,
  },
  watch: {
    'project.key': {
      handler() {
        if (this.project.key != null) {
          this.project.key = this.project.key.toUpperCase();
        }
      },
      deep: true,
    },
  },
  computed: {},
  methods: {
    notBeforeToday(date) {
      return date < today;
    },
    addUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.project.start_at < this.project.end_at) {
          this.$http
            .post('/api/projects', this.project)
            .then(() => {
              this.$emit('updateListProject');
              document.getElementById('btn-close').click();
              showNotification('Add Project successfully', 'bg-success');
            })
            .catch((err) => {
              if (err.response.status === 422) {
                this.error.name = err.response.data.error.name;
                this.error.key = err.response.data.error.key;
                this.error.start_at = err.response.data.error.start_at;
                this.error.end_at = err.response.data.error.end_at;
              } else {
                showNotification('Adding Project failed', 'bg-danger');
              }
            });
        } else {
          showNotification(
            'Start date cannot be greater than end date',
            'bg-danger',
          );
        }
      }
    },
    resetValidate() {
      const value = {};
      Object.keys(this.project).forEach((index) => {
        if (index === 'flows') {
          value[index] = [{
            name: 'Annotating',
          }, {
            name: 'Review 1',
          }];
        } else {
          value[index] = null;
        }
      });
      this.project = value;
      this.$v.$reset();
    },
    add() {
      this.project.flows.push({ test: '' });
    },
    remove(index) {
      this.project.flows.splice(index, 1);
    },
  },
};
</script>
