<template>
  <div
    class="modal fade"
    id="editProjectModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Update Project</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-lg-4">
                <label for="name-project" class="col-form-label">
                  Project Name
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" v-model="project.name" id="name-project" />
                <div v-if="$v.project.name.$error">
                  <code class="error" v-if="!$v.project.name.required" v-html="messageValidate.required">
                  </code>
                </div>
                <div v-if="error.name">
                  <div v-for="(err,index) in error.name" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label for="key-project" class="col-form-label">
                  Project Key
                  <code>*</code>:
                </label>
                <input
                  type="text"
                  class="form-control"
                  v-model="project.key"
                />
                <div v-if="$v.project.key.$error">
                  <code class="error" v-if="!$v.project.key.required" v-html="messageValidate.required"></code>
                  <code class="error" v-if="!$v.project.key.maxLength" v-html="messageValidate.maxLength">
                  </code>
                  <code class="error" v-if="!$v.project.key.regexKey" v-html="messageValidate.alpha"></code>
                </div>
                <div v-if="error.key">
                  <div v-for="(err, index) in error.key" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <label for="status" class="col-form-label">
                  Status
                  <code>*</code>:
                </label>
                <select class="form-control" v-model="project.status" id="status">
                  <option
                    v-for="(status,index) in status"
                    :value="status['id']"
                    :key="index"
                    :disabled="status.status == 'Open'"
                  >{{status['status']}}</option>
                </select>
                <p>
                  <code v-html="error.status"></code>
                </p>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="start-time-project" class="col-form-label">
                  Start Time
                  <code>*</code>:
                </label>
                <date-picker
                  v-model="project.start_at"
                  value-type="format"
                  input-class="form-control"
                  style="width: 100%"
                  :popup-style="{'z-index':1060}"
                ></date-picker>
                <div v-if="$v.project.start_at.$error">
                  <code class="error" v-if="!$v.project.start_at.required" v-html="messageValidate.required">
                  </code>
                </div>
                <div v-if="error.start_at">
                  <div v-for="(err,index) in error.start_at" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="end-at-project" class="col-form-label">
                  End Time
                  <code>*</code>:
                </label>
                <date-picker
                  v-model="project.end_at"
                  value-type="format"
                  input-class="form-control"
                  style="width: 100%"
                  :popup-style="{'z-index':1060}"
                ></date-picker>
                <div v-if="$v.project.end_at.$error">
                  <code class="error" v-if="!$v.project.end_at.required" v-html="messageValidate.required">
                  </code>
                </div>
                <div v-if="error.end_at">
                  <div v-for="(err,index) in error.end_at" :key="index">
                    <p class="text-red" v-html="err"></p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            id="btn-close"
            data-dismiss="modal"
          >Close</button>
          <button
            type="button"
            @click="updateProject(project.id)"
            class="btn btn-info btn-sm"
          >Update</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { required, maxLength, helpers } from 'vuelidate/lib/validators';
import {
  getListProjectStatus,
  showNotification,
  formatDate,
} from '../../utilities/common';
import { messageValidate } from '../../utilities/validate';

const regexKey = helpers.regex('regexKey', /^[A-Z0-9_.-]*$/);
export default {
  name: 'edit-project',
  props: ['project', 'index'],
  data() {
    return {
      error: {
        name: null,
        start_at: null,
        end_at: null,
        status: null,
        key: null,
      },
      submitStatus: null,
      status: getListProjectStatus(),
      messageValidate,
    };
  },
  watch: {
    'project.key': {
      handler() {
        if (this.project.key != null) {
          this.project.key = this.project.key.toUpperCase();
        }
      },
      deep: true,
    },
  },
  validations: {
    project: {
      name: {
        required,
      },
      start_at: {
        required,
      },
      end_at: {
        required,
      },
      key: {
        required,
        maxLength: maxLength(127),
        regexKey,
      },
    },
  },
  methods: {
    updateProject(id) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.project.start_at = formatDate(this.project.start_at);
        this.project.end_at = formatDate(this.project.end_at);
        if (this.project.start_at < this.project.end_at) {
          this.$http
            .put(`/api/projects/${id}`, this.project)
            .then((res) => {
              this.$emit('updatedProject', res.data.project, this.index);
              // eslint-disable-next-line no-undef
              $('#editProjectModal').modal('hide');
              showNotification(res.data.message, 'bg-success');
            })
            .catch((err) => {
              if (err.response.status === 422) {
                this.error.name = err.response.data.error.name;
                this.error.key = err.response.data.error.key;
                this.error.start_at = err.response.data.error.start_at;
                this.error.end_at = err.response.data.error.end_at;
              }
              showNotification('Add project failed', 'bg-danger');
            });
        } else {
          showNotification(
            'Start date cannot be greater than end date',
            'bg-danger',
          );
        }
      }
    },
  },
};
</script>
