<template>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <caption hidden>Table Project</caption>
      <thead>
        <tr>
          <th scope="col" style="width:5%">ID</th>
          <th scope="col">Project Name</th>
          <th scope="col">Project Key</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Status</th>
          <th scope="col" style="width:10%;" v-if="permission">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(project,index) in projects" :key="project.id">
          <td>{{project.id}}</td>
          <td>
            <router-link tag="a" :to="{ name: 'projectDetail', params: { id: project.id }}"
            >
              <p>{{project.name}}</p>
            </router-link>
          </td>
          <td>{{project.key}}</td>
          <td>{{project.start_at | convertTime}}</td>
          <td>{{project.end_at | convertTime}}</td>
          <td>
            <span
              class="badge"
              :class="getProjectStatus(project.status).style"
            >{{getProjectStatus(project.status).status}}</span>
          </td>
          <td v-if="permission">
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-toggle="modal"
              data-target="#editProjectModal"
              @click="handleChooseProject(project,index)"
            >
              <em class="far fa-edit"></em>
            </button>
            <button
              v-show="getProjectStatus(project.status).status == 'Open'"
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              @click="handleChooseProject(project,index)"
              data-target="#deleteProjectModal"
            >
              <em class="fas fa-trash-alt"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="permission">
      <edit-project v-bind:project="project" :index="indexProject" @updatedProject="updatedProject"></edit-project>
      <div
        class="modal fade"
        id="deleteProjectModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">Are you sure you delete this project?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-danger" @click="deleteProject">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment-timezone';
import { getProjectStatus, showNotification, USER_ROLE_STRING } from '../../utilities/common';
import EditProject from './EditProjectComponent';

export default {
  props: ['projects'],
  name: 'list-project',
  data() {
    return {
      project: {
        name: null,
        key: null,
        start_at: null,
        end_at: null,
        note: null,
      },
      indexProject: null,
    };
  },
  computed: {
    permission() {
      const currentUser = this.$store.getters['annotation/currentUser'];
      return currentUser.role === USER_ROLE_STRING.ADMIN || currentUser.role === USER_ROLE_STRING.PM;
    },
  },
  components: {
    EditProject,
  },
  methods: {
    getProjectStatus,
    handleChooseProject(data, index) {
      this.project = { ...data };
      this.indexProject = index;
    },
    updatedProject(data, index) {
      this.$set(this.projects, `${index}`, data);
    },
    deleteProject() {
      this.$http
        .delete(`/api/projects/${this.project.id}`)
        .then(() => {
          // eslint-disable-next-line no-undef
          $('#deleteProjectModal').modal('hide');
          this.$delete(this.projects, this.indexProject);
          showNotification('Xóa thành công project', 'bg-success');
        })
        .catch((err) => {
          // eslint-disable-next-line no-undef
          $('#deleteProjectModal').modal('hide');
          const { data } = err.response;
          showNotification(data.message, 'bg-danger');
        });
    },
  },
  filters: {
    convertTime(value) {
      if (!value) return '';
      return moment(value).format('YYYY-MM-DD');
    },
  },
};
</script>
<style scoped>
table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}
</style>
