<template>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Add New User</h3>
          <button
            type="button"
            @click="resetValidate"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Full Name
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" v-model="$v.user.full_name.$model" />
                <div v-if="$v.user.full_name.$error">
                  <code class="error" v-if="!$v.user.full_name.required"  v-html="messageValidate.required"></code>
                </div>
                <code v-html="error.fullname"></code>
              </div>
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Email
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" v-model="$v.user.email.$model" />
                <div v-if="$v.user.email.$error">
                  <code class="error" v-if="!$v.user.email.required"  v-html="messageValidate.required"></code>
                  <code class="error" v-if="!$v.user.email.email">The input field is email</code>
                </div>
                <code v-html="error.email"></code>

              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Password
                  <code>*</code>:
                </label>
                <input type="password" class="form-control" v-model="$v.user.password.$model" />
                <div v-if="$v.user.password.$error">
                  <code class="error" v-if="!$v.user.password.required"  v-html="messageValidate.required"></code>
                  <code class="error" v-if="!$v.user.password.minLength">Password minimum 8 characters</code>
                </div>
                <code v-html="error.password"></code>

              </div>
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Password Confirm
                  <code>*</code>:
                </label>
                <input type="password" class="form-control" v-model="$v.user.password_confirm.$model" />
                <div v-if="$v.user.password_confirm.$error">
                  <code
                    class="error"
                    v-if="!$v.user.password_confirm.required" v-html="messageValidate.required"
                  ></code>
                  <code
                    class="error"
                    v-if="!$v.user.password_confirm.sameAsPassword"
                  >Passwords must be identical.</code>
                </div>
                <code v-html="error.password_confirm"></code>

              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">Phone:</label>
                <input type="text" class="form-control" v-model="$v.user.phone.$model" />
                <div v-if="$v.user.phone.$error">
                  <code class="error" v-if="!$v.user.phone.regexPhone">The input field must be 10-11 digits long</code>
                </div>
                  <code v-html="error.phone"></code>
              </div>
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Roles
                  <code>*</code>:
                </label>
                <select class="form-control" v-model="$v.user.role.$model">
                  <option disabled value>Please select</option>
                  <option v-for="(role,index) in roles" :value="index" :key="index">{{role}}</option>
                </select>
                 <div v-if="$v.user.role.$error">
                  <code
                    class="error"
                    v-if="!$v.user.role.required" v-html="messageValidate.required"
                  ></code>
                </div>
                  <code v-html="error.role"></code>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            @click="resetValidate"
            id="btn-close"
            data-dismiss="modal"
          >Close</button>
          <button type="button" class="btn btn-info btn-sm" @click="addUser">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  required,
  email,
  minLength,
  sameAs,
  helpers,
} from 'vuelidate/lib/validators';
import {
  getListUserRole,
  showNotification,
} from '../../utilities/common';
import { messageValidate } from '../../utilities/validate';

const regexPhone = helpers.regex('alpha', /(0)+([0-9]{9,10})\b/);
export default {
  name: 'add-user',
  props: ['users'],
  data() {
    return {
      user: {
        full_name: '',
        email: '',
        password: '',
        password_confirm: '',
        phone: '',
        role: '',
      },
      messageValidate,
      error: {
        full_name: null,
        email: null,
        password: null,
        password_confirm: null,
        phone: null,
        role: null,
      },
      submitStatus: null,
      roles: getListUserRole(),
    };
  },
  validations: {
    user: {
      full_name: {
        required,
      },
      email: {
        required,
        email,
      },
      password: {
        required,
        minLength: minLength(8),
      },
      password_confirm: {
        required,
        sameAsPassword: sameAs('password'),
      },
      phone: {
        regexPhone,
      },
      role: {
        required,
      },
    },
  },

  watch: {
    user: {
      handler() {
        this.error = {};
      },
      deep: true,
    },
  },
  methods: {
    addUser() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.submitStatus = 'OK';
        this.$http
          .post('/api/users', this.user)
          .then((res) => {
            this.$emit('loadListUsers');
            document.getElementById('btn-close').click();
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;

            if (status === 422) {
              const messageErr = {};
              Object.keys(data.error).forEach((key) => {
                messageErr[key] = data.error[key].join('. ');
              });
              this.error = messageErr;
            }
            showNotification(data.message, 'bg-danger');
          });
      }
    },
    resetValidate() {
      const value = {};
      Object.keys(this.user).forEach((index) => {
        value[index] = null;
      });
      this.user = value;
      this.error = {};
      this.$v.$reset();
    },
  },
};
</script>
