<template>
  <div
    class="modal fade"
    id="editUserModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Edit User</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeForm">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Full Name
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" v-model="$v.user.full_name.$model" />
                <div v-if="$v.user.full_name.$error">
                  <code
                    class="error"
                    v-if="!$v.user.full_name.required" v-html="messageValidate.required"
                  ></code>
                </div>
                <code v-html="error.fullname"></code>

              </div>
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Email
                  <code>*</code>:
                </label>
                <input type="text" class="form-control" v-model="user.email" disabled />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  New Password
                  <code>*</code>:
                </label>
                <input type="password" class="form-control" v-model="$v.new_password.$model" />
                <div v-if="$v.new_password.$error">
                  <code
                    class="error"
                    v-if="!$v.new_password.minLength"
                  >New Password minimum 8 characters</code>
                </div>
                <code v-html="error.password"></code>
              </div>
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  New Password Confirm
                  <code>*</code>:
                </label>
                <input type="password" class="form-control" v-model="$v.new_password_confirm.$model" />
                <div v-if="$v.new_password_confirm.$error">
                  <code
                    class="error"
                    v-if="!$v.new_password_confirm.sameAsPassword"
                  >Password Confirm must be the same as Password</code>
                </div>
                <code v-html="error.new_password_confirm"></code>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">Phone:</label>
                <input type="text" class="form-control" v-model="$v.user.phone.$model" />
                <div v-if="$v.user.phone.$error">
                  <code class="error" v-if="!$v.user.phone.regexPhone">The input field must be 10-11 digits long</code>
                </div>
                <code v-html="error.phone"></code>
              </div>
              <div class="col-lg-6">
                <label for="recipient-name" class="col-form-label">
                  Roles
                  <code>*</code>:
                </label>
                <select class="form-control" v-model="$v.user.role.$model">
                  <option disabled value>Please select</option>
                  <option v-for="(role,index) in roles" :value="index" :key="index">{{role}}</option>
                </select>
                <div v-if="$v.user.role.$error">
                  <code
                    class="error"
                    v-if="!$v.user.role.required" v-html="messageValidate.required"
                  ></code>
                </div>
                  <code v-html="error.role"></code>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary btn-sm"
            id="btn-close"
            data-dismiss="modal"
            @click="closeForm"
          >Close</button>
          <button
            type="button"
            @click="updateUser(user.id)"
            class="btn btn-info btn-sm"
          >Edit</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  required,
  minLength,
  sameAs,
  helpers,
} from 'vuelidate/lib/validators';
import {
  getListUserRole,
  showNotification,
} from '../../utilities/common';
import { messageValidate } from '../../utilities/validate';

const regexPhone = helpers.regex('alpha', /(0)+([0-9]{9,10})\b/);
export default {
  name: 'edit-user',
  props: ['user', 'index'],
  data() {
    return {
      new_password: null,
      new_password_confirm: null,
      error: {
        full_name: null,
        new_password: null,
        new_password_confirm: null,
        phone: null,
        role: null,
      },
      submitStatus: null,
      roles: getListUserRole(),
      messageValidate,
    };
  },
  validations: {
    user: {
      full_name: {
        required,
      },
      phone: {
        regexPhone,
      },
      role: {
        required,
      },
    },
    new_password: {
      minLength: minLength(8),
    },
    new_password_confirm: {
      sameAsPassword: sameAs('new_password'),
    },
  },
  watch: {
    user: {
      handler() {
        this.error = {};
      },
      deep: true,
    },
  },
  methods: {
    updateUser(id) {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        const input = {
          ...this.user,
          new_password: this.new_password,
          new_password_confirm: this.new_password_confirm,
        };
        this.$http
          .put(`/api/users/${id}`, input)
          .then((res) => {
            this.new_password = '';
            this.new_password_confirm = '';
            this.$emit('updatedUser', res.data.user, this.index);
            // eslint-disable-next-line no-undef
            $('#editUserModal').modal('hide');
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;

            if (status === 422) {
              const messageErr = {};
              Object.keys(data.error).forEach((key) => {
                messageErr[key] = data.error[key].join('. ');
              });
              this.error = messageErr;
            }
            showNotification(data.message, 'bg-danger');
          });
      }
    },
    closeForm() {
      this.new_password = '';
      this.new_password_confirm = '';
      this.error = {};
      this.$v.$reset();
    },
  },
};
</script>
