<template>
  <div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <caption hidden>Bảng User</caption>
      <thead>
        <tr>
          <th scope="col" style="width:5%">No.</th>
          <th scope="col">Email</th>
          <th scope="col">Full Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col" style="width:10%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user,index) in users" :key="index">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.full_name}}</td>
          <td>{{user.phone}}</td>
          <td>{{getUserRole(user.role)}}</td>
          <td>
            <span
              class="badge p-2"
              :class="getUserStatus(user.status).style"
            >{{getUserStatus(user.status).status}}</span>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-toggle="modal"
              data-target="#editUserModal"
              @click="handleChooseUser(user,index)"
            >
              <em class="far fa-edit"></em>
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              data-toggle="modal"
              @click="handleChooseUser(user,index)"
              data-target="#deleteUserModal"
            >
              <em class="fas fa-trash-alt"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <edit-user v-bind:user="fillUser" :index="indexUser" @updatedUser="updatedUser"></edit-user>
    <div
      class="modal fade"
      id="deleteUserModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you delete this User?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-danger" @click="deletedUser">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import {
  getUserRole,
  getUserStatus,
  showNotification,
} from '../../utilities/common';
import EditUser from './EditUserComponent.vue';

export default {
  components: {
    EditUser,
  },
  props: ['users'],
  name: 'list-user',
  data() {
    return {
      fillUser: {
        full_name: '',
        email: '',
        new_password: '',
        new_password_confirm: '',
        phone: '',
        role: '',
      },
      indexUser: '',
    };
  },
  methods: {
    getUserRole,
    getUserStatus,
    handleChooseUser(data, index) {
      this.fillUser = { ...data };
      this.indexUser = index;
    },
    updatedUser(data, index) {
      this.$set(this.users, `${index}`, data);
    },

    deletedUser() {
      this.$http
        .delete(`/api/users/${this.fillUser.id}`)
        .then(() => {
          // eslint-disable-next-line no-undef
          $('#deleteUserModal').modal('hide');
          this.$emit('loadListUsers');
          showNotification('Successfully deleted the User', 'bg-success');
        })
        .catch((err) => {
          const { data } = err.response;
          showNotification(data.message, 'bg-danger');
        });
    },
  },
};
</script>
<style scoped>
table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}
</style>
