<template>
  <!-- The timeline -->
  <div class="changepassword">
    <div class="col-lg-6">
      <p class="text-danger" v-if="passwordChange.err" v-html="passwordChange.err"></p>
      <div class="card card-info">
        <!-- form start -->
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="name" class="col-sm-4 col-form-label">Current Password<code>*</code>:</label>
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  name="name"
                  autocomplete="name"
                  placeholder="Old Password"
                  autofocus
                  v-model="$v.passwordChange.old_password.$model"
                />
                <div v-if="$v.passwordChange.old_password.$error">
                  <code
                    class="error"
                    v-if="!$v.passwordChange.old_password.required" v-html="messageValidate.required"
                  ></code>
                  <code
                    class="error"
                    v-if="!$v.passwordChange.old_password.minLength"
                  >Password minimum 8 characters</code>
                </div>
                <code v-html="error.old_password"></code>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPassword" class="col-sm-4 col-form-label">New Password<code>*</code>:</label>
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  placeholder="New Password"
                  id="newPassword"
                  v-model="$v.passwordChange.new_password.$model"
                />
                 <div v-if="$v.passwordChange.new_password.$error">
                  <code
                    class="error"
                    v-if="!$v.passwordChange.new_password.required" v-html="messageValidate.required"
                  ></code>
                  <code
                    class="error"
                    v-if="!$v.passwordChange.new_password.minLength"
                  >New Password minimum 8 characters</code>
                </div>
                <code v-html="error.new_password"></code>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Confirm New Password<code>*</code>:</label>
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confim Password"
                  v-model="$v.passwordChange.new_password_confirm.$model"
                />
                 <div v-if="$v.passwordChange.new_password_confirm.$error">
                  <code
                    class="error"
                    v-if="!$v.passwordChange.new_password_confirm.required" v-html="messageValidate.required"
                  ></code>
                  <code
                    class="error"
                    v-if="!$v.passwordChange.new_password_confirm.minLength"
                  >Password Confirm must be the same as Password</code>
                </div>
                <code v-html="error.new_password_confirm"></code>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button
              @click.prevent="handleChangePassword"
              class="btn btn-info"
            >Change Password</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength, sameAs } from 'vuelidate/lib/validators';
import { showNotification } from '../../utilities/common';
import { messageValidate } from '../../utilities/validate';

export default {
  data() {
    return {
      user: [],
      error: {
        old_password: '',
        new_password: '',
        new_password_confirm: '',
      },
      passwordChange: {
        old_password: null,
        new_password: null,
        new_password_confirm: null,
      },
      messageValidate,
      submitStatus: null,
    };
  },
  validations: {
    passwordChange: {
      old_password: {
        required,
        minLength: minLength(8),
      },
      new_password: {
        required,
        minLength: minLength(8),
      },
      new_password_confirm: {
        required,
        sameAsPassword: sameAs('new_password'),
      },
    },
  },
  watch: {
    passwordChange: {
      handler() {
        this.error = {};
      },
      deep: true,
    },
  },
  methods: {
    handleChangePassword() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$http.put('/api/change-password', this.passwordChange)
          .then(() => {
            this.passwordChange = {};
            this.$v.$reset();
            showNotification('Change password successfully!', 'bg-success');
          })
          .catch((err) => {
            const { status, data } = err.response;
            if (status === 422) {
              const messageErr = {};
              Object.keys(data.error).forEach((key) => {
                messageErr[key] = data.error[key].join('. ');
              });
              this.error = messageErr;
            }
            showNotification('Password change failed', 'bg-danger');
          });
      }
    },
  },
};
</script>
