<template>
    <!-- <div class="active tab-pane" id="activity"> -->
        <!-- Post -->
        <!-- Post -->
        <div class="changepassword">
            <div class="col-lg-6">

                <div class="card card-info">
                    <form class="form-horizontal">
                        <div class="card-body">
                          <div class="form-group row">
                                <label for="name"
                                        class="col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name"
                                            name="name" autocomplete="name"
                                            disabled
                                            v-model="infoUser.email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name"
                                        class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name"
                                            name="name" autocomplete="name"
                                             placeholder="Name"
                                            v-model="$v.infoUser.full_name.$model">
                                    <div v-if="$v.infoUser.full_name.$error">
                                      <code
                                        class="error"
                                        v-if="!$v.infoUser.full_name.required" v-html="messageValidate.required"
                                      ></code>
                                    </div>
                                    <code v-html="error.fullname"></code>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone"
                                        class="col-sm-4 col-form-label">Phone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                            id="phone" placeholder="Phone"
                                            v-model="$v.infoUser.phone.$model">
                                    <div v-if="$v.infoUser.phone.$error">
                                      <code class="error" v-if="!$v.infoUser.phone.regexPhone">The input field must be 10-11 digits long</code>
                                    </div>
                                    <code v-html="error.phone"></code>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone"
                                        class="col-sm-4 col-form-label">Role</label>
                                <div class="col-sm-8">
                                   <select class="form-control" v-model="infoUser.role" v-if="currentUser.role === USER_ROLE_STRING.ADMIN" >
                                      <option disabled value>Please select</option>
                                      <option v-for="(role,index) in roles" :value="index" :key="index">{{role}}</option>
                                    </select>
                                    <input type="text" class="form-control" v-else
                                            disabled
                                            :value="getUserRole(infoUser.role)">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info" @click.prevent="updateInfo"> Update
                                Information
                            </button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>

            </div>
        </div>
        <!-- /.post -->
    <!-- </div> -->
</template>
<script>
import { required, helpers } from 'vuelidate/lib/validators';
import {
  getUserRole, showNotification, getListUserRole, USER_ROLE_STRING,
} from '../../utilities/common';
import { messageValidate } from '../../utilities/validate';

const regexPhone = helpers.regex('alpha', /(0)+([0-9]{9,10})\b/);
export default {
  data() {
    return {
      getUserRole,
      infoUser: { ...this.$store.getters['annotation/currentUser'] },
      error: {
        full_name: '',
        phone: '',
      },
      roles: getListUserRole(),
      USER_ROLE_STRING,
      messageValidate,
    };
  },
  validations: {
    infoUser: {
      full_name: {
        required,
      },
      phone: {
        regexPhone,
      },
    },
  },
  watch: {
    infoUser: {
      handler() {
        this.error = {};
      },
      deep: true,
    },
  },
  methods: {
    updateInfo() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$http
          .put('/api/change-info', this.infoUser)
          .then((res) => {
            this.$store.dispatch('annotation/setCurrentUser', res.data.user);
            showNotification(res.data.message, 'bg-success');
          })
          .catch((err) => {
            const { data } = err.response;
            showNotification(data.message, 'bg-danger');
          });
      }
    },
  },
  created() {
    if (!this.currentUser) {
      this.$store.dispatch('annotation/setCurrentUser', this.$auth.user());
    }
  },
  computed: {
    currentUser() {
      return this.$store.getters['annotation/currentUser'];
    },
  },
};
</script>
